# Get gender

## Add `'gender'` key to database

In [1]:
import requests
from IPython.display import JSON
from gender_guesser_first_names import gender
from re import sub
import json

In [2]:
LOCAL=False
if LOCAL:
    f=open('data/inspire_LA.json','r')
    df=json.load(f)
    f.close()
else:
    r=requests.get('https://github.com/restrepo/inspireauth/raw/main/data/inspire_LA.json')
    df=r.json()

In [3]:
D=gender.Detector(case_sensitive=False)

In [6]:
def force_get_gender(d):
    '''
     Get names from `name.value` and if empty get it from `full_name`
     and using `country` information if avalaible
    '''
    gender = 'unknown'
    names = ''
    if (d.get('name') and d.get('name').get('value') and 
        sub('\w\.','',d.get('name').get('value').split(', ')[-1]).strip()):
        names = sub('\w\.','',d.get('name').get('value').split(', ')[-1]).strip()
    if not names and d.get('full_name'):
        names = sub('\w\.','',d.get('full_name').split(', ')[-1]).strip()
    if names:
        if d.get('country'):
            gender = D.get_gender( names, country=d.get('country').strip() )
        else:
            gender = D.get_gender( names )
    return gender

In [7]:
kk = [d.update( {'gender': force_get_gender(d)} ) for d in df ]

In [8]:
f=open('inspire_LA_gender.json','w')
json.dump(df,f)
f.close()

## Analysis

In [9]:
import pandas as pd

In [10]:
DF = pd.read_json('inspire_LA_gender.json')

Unique authors ids

In [11]:
DF.shape[0]

57588

In [12]:
DF = DF.drop_duplicates('author_id').reset_index(drop=True)
DF.shape[0]

29969

In [13]:
DF['first_names'] = DF['name'].str.get('value').astype(str).str.split(', ').str[-1]#.apply(
    #lambda s: sub('\w\.','',s)).str.replace('None','')

In [14]:
DF['gender'].unique()

array(['male', 'unknown', 'female', 'andy'], dtype=object)

In [15]:
print(DF['gender'].shape[0])
total = DF['gender'].dropna().shape[0]
total

29969

29969

In [16]:
male = DF[DF['gender'] == 'male'].shape[0]
female = DF[DF['gender'] == 'female'].shape[0]
unknown = DF[DF['gender'] == 'unknown'].shape[0]
unknown = unknown + DF[DF['gender'] == 'andy'].shape[0]

In [ ]:
assert male + female + unknown == total

In [20]:
male+female

17335

In [17]:
male

14626

In [18]:
female

2709

In [21]:
round(female/male,2)

0.19

In [22]:
unknown

12634

In [23]:
DFFM = DF[ (( DF['gender'] == 'female') | ( DF['gender'] == 'male')) ]
DFFM.shape

(17335, 14)

In [24]:
DFU = DF[ ~(( DF['gender'] == 'female') | ( DF['gender'] == 'male')) ]
DFU.shape

(12634, 14)

In [25]:
DFFM[['first_names','country','gender']].sample(50)

            first_names         country  gender
10346         Andrey A.       Argentina    male
25449                Di   United States  female
22457       Gabor Gyula         Hungary    male
26525             Boris          Israel    male
26491            Gernot         Germany    male
29575              None   United States  female
2171             Hector      Costa Rica    male
28007           Jana B.        Portugal  female
9375         Richard S.   United States    male
12582              None        Portugal    male
6269            Alberto         Denmark    male
27017            Victor         Germany    male
2888             Hector  United Kingdom    male
20660              None          Brazil    male
17577            Valery          Mexico    male
6120               None           Chile  female
22521              None          Brazil    male
7001               None          France    male
2953         Gustavo A.          Brazil    male
2825         Rodolfo A.        Colombia    male
17219             Elena  United Kingdom  female
22202              None     Netherlands  female
29156              None          Brazil    male
3155             Werner         Germany    male
374                None       Venezuela    male
11801              None       Argentina  female
27528            Holger         Germany    male
28404             Paula          France  female
15340      José Enrique          Mexico    male
12684             Paolo          Mexico    male
29688        Serguey T.           Japan    male
19858          Riccardo          Brazil    male
27602               Léa          France  female
20235           Daniele          Brazil  female
7115               None           Chile    male
7214               None   United States    male
2896               Marc   United States    male
11783              None   United States    male
23115              None        Portugal    male
12222              None       Argentina    male
1490              Mikel           Spain    male
8996               Adam           Chile    male
21038           Aurelio  United Kingdom    male
17507         Andrew J.   United States    male
20214       Fernando P.          Brazil    male
2452            Ricardo            Cuba    male
28496              None          Brazil    male
189    Hector Alejandro       Venezuela    male
4175          Jean-Paul          France    male
24404              None   United States    male

In [26]:
#[['first_names','country','gender']]
DFU.sample(50)[['author_id','full_name','name','country','gender']]

,author_id,full_name,name,country,gender
20038,D.D.Maccarrone.1,"Maccarrone, G.D.",None,Italy,unknown
2818,C.N.Cruz.Camacho.1,"Cruz-Camacho, C.N.",None,Colombia,unknown
1787,A.Altamirano.1,"Altamirano, A.",None,Peru,unknown
17382,D.C.Rivera.Agudelo.2,"Rivera-Agudelo, D.C.",None,Mexico,unknown
13122,L.Z.Zhang.1,"Zhang, Long-Zhe",None,United States,unknown
26390,R.Dos.Santos.1,"dos Santos, Rubia",None,Brazil,unknown
26224,M.F.Nieva.1,"Nieva, M.F.",None,Brazil,unknown
6673,O.Herrera.1,"Herrera, O.",None,Chile,unknown
21587,K.L.Ribeiro.1,"Ribeiro, K.L.",None,Brazil,unknown
18462,A.Z.Goldberg.1,"Goldberg, A.Z.","{'value': 'Goldberg, A.Z.'}",Canada,unknown
915,S.Takach.2,"Takach, S",None,United States,unknown
14251,J.Martinez.Castro.7,"Martínez-Castro, J.",None,Mexico,unknown
18603,C.P.O.Dea.1,"O'Dea, C.P.",None,United States,unknown
805,E.Saettone.1,"Saettone, E.",None,Peru,unknown
11463,R.D.Page.1,"Page, R.",None,Argentina,unknown
23455,Ya.Ping.Xie.1,"Xie, Ya-Ping","{'value': 'Xie, Ya-Ping', 'native_names': ['谢亚...",China,andy
23505,G.De.Almeida.Braga.1,"De Almeida Braga, G.",None,Brazil,unknown
4740,L.C.Smith.1,"Smith, L.J.",None,United States,unknown
21926,E.L.Moreira.1,"Moreira, E.L.",None,Brazil,unknown
6775,G.Galaz.1,"Galaz, G.",None,Chile,unknown
25904,T.dos.Santos.Pereira.1,"dos Santos Pereira, T.",None,Brazil,unknown
17111,A.J.G.Aguirre.1,"Aguirre, A.J. Garza",None,Mexico,unknown
884,Joao.Ramos.Torres.de.Mello.Neto.1,"de Mello Neto, J.R.T","{'value': 'de Mello Neto, Joao Ramos Torres', ...",Brazil,unknown
18019,M.Anguiano.1,"Anguiano, M.",None,Mexico,unknown
2355,I.Nakagawa.1,"Nakagawa, I.","{'value': 'Nakagawa, Itaru', 'preferred_name':...",Japan,unknown
26281,R.M.P.Neves.1,"Neves, R.M. P.","{'value': 'Neves, R.M. P.'}",Brazil,unknown
12970,F.A.B.Coutinho.1,"Coutinho, F.A.B.",None,Brazil,unknown
4209,P.North.1,"North, P.",None,Switzerland,unknown
25520,R.A.N.Oliveira.1,"Oliveira, R.A.N.",None,Brazil,unknown
9877,R.Myrzakulov.1,"Myrzakulov, R.","{'value': 'Myrzakulov, Ratbay', 'preferred_nam...",Kazakhstan,unknown
13101,M.Le.Gras.1,"Le Gras, M.",None,None,unknown
22768,R.Pakter.1,"Pakter, R.",None,Brazil,unknown
8762,R.J.Assef.1,"Assef, R.J.",None,Chile,unknown
18317,A.Belfiore.1,"Belfiore, A.",None,Italy,unknown
580,C.Rodriguez.1,"Rodriguez, C.","{'value': 'Rodriguez, C.', 'preferred_name': '...",United States,unknown
13901,M.T.Pena.3,"Peña, M.T.",None,Portugal,unknown
20116,J.M.Parra.1,"Parra, J.M.",None,Spain,unknown
8413,Chun.Hsien.Wu.1,"Wu, Chun-Hsien","{'value': 'Wu, Chun-Hsien', 'preferred_name': ...",Taiwan,unknown
17075,J.Jalilian.Marian.2,"Jalilian-Marian, J.",None,United States,unknown
5432,J.C.Augereau.1,"Augereau, Jean-Charles","{'value': 'Augereau, Jean-Charles', 'preferred...",Netherlands,unknown
786,M.Arenas.Florez.1,"Arenas-Flórez, M.",None,Colombia,unknown
9374,M.Oguri.2,"Oguri, M.",None,Japan,unknown
18127,M.R.Guitierrez.1,"Guitierrez, M.R.",None,Mexico,unknown
18481,J.Formiga.1,"Formiga, J.B.",None,Brazil,unknown
885,D.Mihalcea.2,"Mihalcea, D",None,United States,unknown
5821,C.Silva.4,"Silva, C.","{'value': 'Silva, C.'}",Chile,unknown
10616,Y.Jiang.11,"Jiang, Y.","{'value': 'Jiang, Yuanze'}",United States,unknown
22840,R.Moreira.1,"Moreira, R.",None,Brazil,unknown
23050,G.L.Klimchitskaya.3,"Klimchitskaya, G.L.","{'value': 'Klimchitskaya, G.L.'}",Russian Federation,unknown
28628,E.M.de.Sa.1,"de Sa, E.M.",None,Brazil,unknown