# Get gender

## Add `'gender'` key to database

In [1]:
import requests
from IPython.display import JSON
from gender_guesser_first_names import gender
from re import sub
import json

In [2]:
LOCAL=False
if LOCAL:
    f=open('data/inspire_LA.json','r')
    df=json.load(f)
    f.close()
else:
    r=requests.get('https://github.com/restrepo/inspireauth/raw/main/data/inspire_LA.json')
    df=r.json()

In [3]:
D=gender.Detector(case_sensitive=False)

In [4]:
def force_get_gender(d):
    '''
     Get names from `name.value` and if empty get it from `full_name`
     and using `country` information if avalaible
    '''
    gender = 'unknown'
    names = ''
    if (d.get('name') and d.get('name').get('value') and 
        sub('\w\.','',d.get('name').get('value').split(', ')[-1]).strip()):
        names = sub('\w\.','',d.get('name').get('value').split(', ')[-1]).strip()
        names = names.replace('-',' ').strip()
    if not names and d.get('full_name'):
        names = sub('\w\.','',d.get('full_name').split(', ')[-1]).strip()
        names = names.replace('-',' ').strip()
    if names:
        if d.get('country'):
            gender = D.get_gender( names, country=d.get('country').strip() )
        else:
            gender = D.get_gender( names )
    return gender

In [5]:
kk = [d.update( {'gender': force_get_gender(d)} ) for d in df ]

In [6]:
f=open('inspire_LA_gender.json','w')
json.dump(df,f)
f.close()

## Analysis

In [7]:
import pandas as pd

In [8]:
DF = pd.read_json('inspire_LA_gender.json')

Unique authors ids

In [9]:
DF.shape[0]

57588

In [10]:
DF = DF.drop_duplicates('author_id').reset_index(drop=True)
DF.shape[0]

29969

In [11]:
DF['first_names'] = DF['name'].str.get('value').astype(str).str.split(', ').str[-1]#.apply(
    #lambda s: sub('\w\.','',s)).str.replace('None','')

In [12]:
DF['first_names'] = DF.apply(lambda row: str(row['full_name']).split(', ')[-1]  
                             if row['first_names']=='None' 
                             else row['first_names'] ,axis = 'columns')

In [13]:
DF['gender'].unique()

array(['male', 'unknown', 'female', 'andy'], dtype=object)

In [14]:
print(DF['gender'].shape[0])
total = DF['gender'].dropna().shape[0]
total

29969

29969

In [15]:
male = DF[DF['gender'] == 'male'].shape[0]
female = DF[DF['gender'] == 'female'].shape[0]
unknown = DF[DF['gender'] == 'unknown'].shape[0]
unknown = unknown + DF[DF['gender'] == 'andy'].shape[0]

In [16]:
assert male + female + unknown == total

In [17]:
male+female

17491

In [18]:
male

14755

In [19]:
female

2736

In [20]:
round(female/male,2)

0.19

In [21]:
unknown

12478

In [22]:
DFFM = DF[ (( DF['gender'] == 'female') | ( DF['gender'] == 'male')) ]
DFFM.shape

(17491, 14)

In [23]:
DFU = DF[ ~(( DF['gender'] == 'female') | ( DF['gender'] == 'male')) ]
DFU.shape

(12478, 14)

In [28]:
DFFM[['author_id','first_names','country','gender']].sample(50)

,author_id,first_names,country,gender
9696,V.Petracek.1,Vojtěch,Czechia,male
7031,M.De.Francia.1,Marcelo,Argentina,male
29659,H.Stoeckinger.Kim.2,Hyejung,Germany,female
12184,S.Benic.1,Sanjin,Croatia,male
9769,L.B.Auerbach.1,Leonard,United States,male
26535,P.S.Julienne.1,Paul S.,United States,male
12799,R.Guardiola.1,Rafael,Spain,male
23493,R.G.Edwards.1,Robert Glenn,United States,male
3341,G.Preparata.1,Giuliano,Italy,male
8679,M.Le.Delliou.1,Morgan,Brazil,male
3091,M.Devlin.1,Mark J.,Colombia,male
12351,L.J.Cieri.1,Leandro Javier,Argentina,male
29355,F.V.Melo.1,Filipe V.,Brazil,male
10527,T.P.Shestakova.1,Tatyana P.,Russian Federation,female
14384,F.Fiore.1,Fabrizio,Italy,male
473,Javier.G.Gonzalez.1,Javier G.,United States,male
25458,M.N.Ferreira.1,Antonio Mauricio Soares,Brazil,male
203,J.J.Downes.1,Juan J.,Venezuela,male
18858,Carlos.Alberto.Santos.Almeida.1,Carlos Alberto S.,Brazil,male
29486,Wlodzimierz.Piechocki.1,Włodzimierz,Poland,male
8937,C.Charbonnel.1,Corinne,Switzerland,female
28850,A.Blasi.1,Alberto,Italy,male
7091,I.Ferreras.1,Ignacio,United Kingdom,male
25807,A.Patrushev.1,Alexander,Canada,male
17588,A.Flores.Castillo.1,Angel de Jesus,Mexico,male
29814,M.A.Skugoreva.1,Maria A.,Russian Federation,female
6132,J.Haisch.1,Karl E.,United States,male
2737,M.Raljevic.1,Mirko,Bolivia,male
6290,M.C.Bersten.1,Melina C.,Chile,female
17171,I.D.Jimenez.1,Isabel Dom,Mexico,female
24915,U.Wiedner.1,Ulrich,Germany,male
25404,P.I.Krastev.1,Plamen I.,United States,male
8285,F.Fontanot.3,F.,Italy,male
17787,J.L.Valdez.1,Jose Luis,Mexico,male
3566,C.ArizaPorras.1,Christian,Colombia,male
21804,C.A.S.Maia.2,Clovis Achy Soares,Brazil,male
15602,S.Liuti.1,Simonetta,United States,female
9103,V.A.Bravo.1,Victor Ayala,Chile,male
1327,E.Etzion.1,Erez,Israel,male
715,F.Vissani.1,Francesco,Italy,male
24722,Hiroaki.Sugiyama.1,Hiroaki,Japan,male
6829,C.Saavedra.1,Carlos,Chile,male
1646,E.Ramirez.Barreto.2,Elmer,Peru,male
16313,L.Prado.2,Lilian,Mexico,female
20603,C.Kiefer.1,Claus,Germany,male
28110,Ajay.Kumar.Dash.1,Ajay Kumar,Brazil,male
29632,M.Kolsch.1,Maximilian,Germany,male
24574,H.Iwamoto.1,Hiroki,Brazil,male
23769,B.Sotto.Maior.Peralva.1,Bernardo,Brazil,male
12951,J.D.Lange.1,Jean Dominique,Germany,male

In [25]:
#[['first_names','country','gender']]
DFU.sample(50)[['author_id','full_name','name','country','gender']]

,author_id,full_name,name,country,gender
22752,F.da.Silva.Bortoli.1,"da Silva Bortoli, F.",None,Brazil,unknown
29221,E.S.da.Fonseca.1,"da Fonseca, E.S.",None,Brazil,unknown
10686,M.Miller.bertolami.1,"Miller Bertolami, M.",None,Argentina,unknown
7465,S.Gliske.1,"Gliske, S.",None,United States,unknown
10666,A.de.la.Torre.1,"de la Torre, A.C.",None,Argentina,unknown
3118,G.C.Orozco.1,"Orozco, G.C.",None,Colombia,unknown
11182,D.Pohlblanc.1,"Pohlblanc, D.",None,France,unknown
21505,C.P.Ferreira.2,"Ferreira, C.P.",None,Brazil,unknown
4785,M.Correnti.1,"Correnti, M.",None,Italy,unknown
6252,J.L.Pineda.1,"Pineda, J.L.",None,United States,unknown
28166,J.S.Espinoza.Ortiz.1,"Espinoza Ortiz, J.S.",None,Brazil,unknown
12489,Li.Xin.Xu.1,"Xu, Lixin","{'value': 'Xu, Li-Xin', 'native_names': ['徐立昕'...",China,andy
15799,B.I.Sadovnikov.1,"Sadovnikov, B.I.",None,Russian Federation,unknown
3999,Pisin.Chen.1,"Chen, Pisin","{'value': 'Chen, Pisin', 'native_names': ['陳丕燊...",Taiwan,unknown
29251,C.A.Mueller.1,"Müller, C. A.",None,Germany,unknown
12522,M.Lopez.3,"Lopez, M.C.",None,Argentina,unknown
4627,R.Aznar.Cuadrado.1,"Aznar Cuadrado, R.",None,Germany,unknown
382,H.Hartman.2,"Hartman, H.",None,Sweden,unknown
22176,V.S.Filho.1,"Filho, Victo S.",None,Brazil,unknown
29000,D.Martinez.Caicedo.1,"Martinez Caicedo,David",None,Brazil,unknown
5592,L.Abe.1,"Abe, L.",None,France,unknown
25195,A.L.Shelepin.1,"Shelepin, A.L.",None,Russian Federation,unknown
15331,E.Bautista.1,"Bautista, E.",None,Mexico,unknown
18890,D.F.S.Veras.2,"Veras, D.F. S.",None,Brazil,unknown
22945,D.S.Bonafe.1,"Bonafe, D.S.",None,Brazil,unknown
15632,M.E.Fuentes.1,"Fuentes, M.E.",None,United States,unknown
28805,F.Torres.Da.Silva.De.Araujo.5,"Torres da Silva de Araujo, F.",None,Brazil,unknown
12322,R.P.Di.Sisto.1,"Di Sisto, R.P.",None,Argentina,unknown
540,K.S.Park.1,"Park, K.","{'value': 'Park, Kee-Su', 'preferred_name': 'K...",United States,andy
8289,A.Zalucha.1,"Zalucha, A.",None,United States,unknown
28402,B.de.Paula.1,"De Paula, B.",None,Brazil,unknown
19482,R.G.Furtado.1,"Furtado, R.G.",None,Brazil,unknown
13776,N.S.Mankoc.Borstnik.2,"Borštnik, N.S.Mankoč",None,Mexico,unknown
24314,A.Samsarov.1,"Samsarov, Andjelo","{'value': 'Samsarov, Andjelo', 'preferred_name...",Croatia,unknown
23691,C.A.Graeff.2,"Graeff, Clebson A.",None,Brazil,unknown
13636,Xiao.Hu.Mo.1,"Mo, X.H.","{'value': 'Mo, Xiao Hu', 'native_names': ['莫晓虎...",China,andy
3537,K.Sinha.1,"Sinha, Kuver","{'value': 'Sinha, Kuver', 'preferred_name': 'K...",United States,unknown
23041,J.G.G.S.Ramos.1,"Ramos, J.G.G.S.",None,Brazil,unknown
9298,Y.Hidalgo.Velasquez.3,"Hidalgo Velásquez, Yocelyne",None,Chile,unknown
19063,D.A.Nascimento.1,"Nascimento, D.A.",None,Brazil,unknown
4404,S.Frink.1,"Frink, S.",None,Netherlands,unknown
21565,R.M.Marinho.2,"Marinho, J.Adnei",None,Italy,unknown
1144,G.Calderola.1,"Calderola, G.",None,Italy,unknown
10265,V.P.Pagura.3,"Pagura, V.P.",None,Spain,unknown
4407,E.Covino.1,"Covino, E.",None,Italy,unknown
23749,V.Rigo.1,"Rigo, V.","{'value': 'Rigo, V.'}",Brazil,unknown
22471,J.L.Kohl.Moreira.1,"Kohl-Moreira, J.L.",None,Brazil,unknown
13059,M.L.Cescato.1,"Cescato, M.L.",None,Brazil,unknown
15637,T.Jardiel.1,"Jardiel, T.",None,United States,unknown
19642,U.Camara.Da.Silva.2,"Camara da Silva, U.",None,Brazil,unknown

check specific entries

In [30]:
JSON([d for d in df if d.get('author_id')=='F.Fontanot.3'][0])