# Get gender

## Add `'gender'` key to database

In [4]:
import requests
from IPython.display import JSON
from gender_guesser_first_names import gender
from re import sub
import json
import pandas as pd

In [2]:
LOCAL=False
if LOCAL:
    f=open('data/inspire_LA.json','r')
    df=json.load(f)
    f.close()
else:
    r=requests.get('https://github.com/restrepo/inspireauth/raw/main/data/inspire_LA.json')
    df=r.json()

In [89]:
df[0]['name']

{'value': 'Albrecht, Hartwig', 'preferred_name': 'Hartwig Albrecht'}

In [90]:
D=gender.Detector(case_sensitive=False)

In [92]:
def force_get_gender(d):
    '''
     Get names from `name.value` and if empty get it from `full_name`
     and using `country` information if avalaible
    '''
    gender = 'unknown'
    names = ''
    if (d.get('name') and d.get('name').get('value') and 
        sub(r'\w\.','',d.get('name').get('value').split(', ')[-1]).strip()):
        names = sub(r'\w\.','',d.get('name').get('value').split(', ')[-1]).strip()
        names = names.replace('-',' ').strip()
    if not names and d.get('full_name'):
        names = sub(r'\w\.','',d.get('full_name').split(', ')[-1]).strip()
        names = names.replace('-',' ').strip()
    if names:
        if d.get('country'):
            gender = D.get_gender( names, country=d.get('country').strip() )
        else:
            gender = D.get_gender( names )
    return gender

In [93]:
kk = [d.update( {'gender': force_get_gender(d)} ) for d in df ]

In [5]:
TMP  = pd.DataFrame(df)
TMPU = TMP.drop_duplicates('author_id').reset_index(drop=True)

print(f'TOTAL: {TMP.shape[0]}')
print(f'Unique autors: {TMPU.shape[0]}')
print(f'''Results \
        male:  {TMPU[TMPU['gender']=='male'].shape[0]} + female: {
                TMPU[TMPU['gender']=='female'].shape[0]} + unknown: {
                TMPU[TMPU['gender']=='unknown'].shape[0]}.
         ''')
print(f'female ratio at probability: { 
               round(TMPU[TMPU['gender']=='female'].shape[0]/(TMPU[TMPU['gender']=='female'].shape[0] + TMPU[TMPU['gender']=='male'].shape[0]),2)*100  }%')

TOTAL: 57588
Unique autors: 29969
Results         male:  14755 + female: 2736 + unknown: 11855.

female ratio at probability: 16.0%

In [94]:
f=open('data/inspire_LA.json','w')
json.dump(df,f)
f.close()

## Analysis

In [95]:
import pandas as pd

In [96]:
DF = pd.read_json('data/inspire_LA.json')

Unique authors ids

In [97]:
DF.shape[0]

57588

In [98]:
DF = DF.drop_duplicates('author_id').reset_index(drop=True)
DF.shape[0]

29969

In [12]:
DF['first_names'] = DF['name'].str.get('value').astype(str).str.split(', ').str[-1]#.apply(
    #lambda s: sub('\w\.','',s)).str.replace('None','')

In [13]:
DF['first_names'] = DF.apply(lambda row: str(row['full_name']).split(', ')[-1]  
                             if row['first_names']=='None' 
                             else row['first_names'] ,axis = 'columns')

In [14]:
DF['gender'].unique()

array(['male', 'unknown', 'female', 'andy'], dtype=object)

In [15]:
print(DF['gender'].shape[0])
total = DF['gender'].dropna().shape[0]
total

29969

29969

In [17]:
male = DF[DF['gender'] == 'male'].shape[0]
female = DF[DF['gender'] == 'female'].shape[0]
unknown = DF[DF['gender'] == 'unknown'].shape[0]
unknown = unknown + DF[DF['gender'] == 'andy'].shape[0]

In [18]:
assert male + female + unknown == total

In [19]:
male+female

17491

In [20]:
male

14755

In [21]:
female

2736

In [22]:
round(female/male,2)

0.19

In [23]:
unknown

12478

In [24]:
DFFM = DF[ (( DF['gender'] == 'female') | ( DF['gender'] == 'male')) ]
DFFM.shape

(17491, 14)

In [25]:
DFU = DF[ ~(( DF['gender'] == 'female') | ( DF['gender'] == 'male')) ]
DFU.shape

(12478, 14)

In [26]:
DFFM[['author_id','first_names','country','gender']].sample(50)

,author_id,first_names,country,gender
23889,M.B.D.Rocha.1,Mateus Broilo da,Brazil,male
23293,C.Frugiuele.1,Claudia,United States,female
28098,R.Rubim.1,Roberto,Brazil,male
20483,Y.Takahashi.1,Yasushi,Canada,male
15376,C.V.R.Board.1,Charles V.R.,United Kingdom,male
7433,M.R.Schreiber.1,Matthias R.,Chile,male
14325,Y.Verbin.1,Yosef,Israel,male
11484,E.Coleman.3,Evan,United States,male
11692,K.Louedec.1,Karim,France,male
19536,J.Tossa.1,Joel,Benin,male
13969,L.Adame.1,Lucia,Mexico,female
24467,M.O.Araujo.1,Michelle O.,Brazil,female
2537,A.Di.Santo.1,Alejandro,Argentina,male
5766,R.R.Lane.3,Richard R.,Chile,male
1891,Muriel.Fallot.1,Muriel,France,female
27737,C.Espana.Bonet.1,Cristina,Spain,female
21969,M.M.Cunha.1,Márcio M.,Brazil,male
2620,F.S.Guzman.Murillo.1,Francisco S.,Mexico,male
13363,S.Rajpoot.1,Subhash,United States,male
7031,M.De.Francia.1,Marcelo,Argentina,male
12220,L.Rossi.6,L.,Argentina,male
27375,S.Rippl.1,Steve,United Kingdom,male
2438,N.G.Cabo.Bizet.2,Nana Geraldine,Mexico,female
337,H.D.Kasmaei.1,Hamed Daei,"Iran, Islamic Republic of",male
598,R.A.Araujo.1,Adriana,Venezuela,female
9671,Y.Nara.1,Yasushi,Japan,male
8416,Amaury.Leonard.1,Amaury,Belgium,male
15625,A.Verjovsky.1,Alberto,Mexico,male
20746,R.R.Cuzinatto.1,Rodrigo Rocha,Brazil,male
13311,J.Garrido.1,Joanna,Mexico,female
28154,C.D.Chinellato.2,Carola,Brazil,female
9946,O.Petrova.1,Olga P.,United States,female
9446,J.Caballero.Bejar.1,Jose,United States,male
15507,M.Olechowski.1,Marek,Italy,male
7374,D.Narbona.1,Daniela,Chile,female
9499,F.Lanni.1,Francesco,United States,male
5733,P.A.G.Pisani.1,Pablo A.G.,Argentina,male
8019,R.Seaman.1,Robert,United States,male
18979,D.Marinho.Rodrigues.1,Diego,Brazil,male
17241,R.T.Cordoba.1,Roberto,Mexico,male
3202,J.A.JaramilloVillegas.1,Jose A.,Colombia,male
15745,A.Morelos.Pineda.1,Antonio,Mexico,male
15061,D.S.Jimenez.1,Daniel Sepulveda,Mexico,male
14134,E.Carrasco.1,Esperanza,Mexico,female
2138,E.Giusarma.1,Elena,Italy,female
29028,A.B.Rodrigues.1,Ana Barbara,Brazil,female
9207,S.E.Ortiz.1,Sebastian E.,Chile,male
9098,D.Mundarain.2,Douglas,Chile,male
4999,A.Reiners.1,Ansgar,Germany,male
2421,V.de.la.Incera.1,Vivian F.,Cuba,female

In [27]:
#[['first_names','country','gender']]
DFU.sample(50)[['author_id','full_name','name','country','gender']]

,author_id,full_name,name,country,gender
22380,N.Fonseca.1,"Fonseca, Nayara","{'value': 'Fonseca, Nayara', 'preferred_name':...",Germany,unknown
1573,Sheng.Jiang.Zhu.1,"Zhu, S.J.","{'value': 'Zhu, Sheng-Jiang', 'native_names': ...",United States,andy
18378,I.Mejia.1,"Mejia, I.",None,United States,unknown
18619,E.Recillas.2,"Recillas, E.",None,Mexico,unknown
22895,A.M.Paredes.1,"Paredes, A.A.V.",None,Brazil,unknown
19053,P.F.Tavares.1,"Tavares, P.F.",None,Brazil,unknown
17164,A.Herrera.Aguilar.5,"Herrera-Aguilar, A.",None,Mexico,unknown
3860,S.Capozziello.2,"Capozziello, S.",None,Italy,unknown
27448,A.M.De.Lima.2,"De Lima, A.M.",None,Brazil,unknown
9739,A.Anabalon.2,"Anabalón, A.",None,Chile,unknown
29881,S.M.Kurcbart.1,"Kurcbart, S.M.",None,Brazil,unknown
15952,T.Bernal.Marin.1,"Bernal-Marin, Tula",None,Mexico,unknown
17094,L.A.A.Terremoto.1,"Terremoto, LAA",None,Brazil,unknown
4376,F.Castelli.1,"Castelli, F.",None,Italy,unknown
22891,J.A.RoseroGil.1,"Rosero-Gil, J.A.","{'value': 'Rosero-Gil, J.A.'}",Brazil,unknown
24587,D.T.Moreira.1,"Moreira, D.T.",None,Brazil,unknown
7963,O.Voziakova.2,"Voziakova, O.",None,Russian Federation,unknown
21736,C.L.Fernandes.1,"Fernandes, C.L.",None,Brazil,unknown
2840,P.Quintero.1,"Quintero, P.",None,Colombia,unknown
10663,M.Hoyuelos.1,"Hoyuelos, M.",None,Argentina,unknown
7672,D.Polychroni.1,"Polychroni, Danae",None,Italy,unknown
27378,J.Lindig.1,"Lindig, J.",None,Germany,unknown
26853,S.Frota.Pessoa.1,"Frota-Pessoa, S.",None,Brazil,unknown
2185,L.B.Guo.1,"Guo, Li","{'value': 'Guo, L.B.'}",United States,andy
18848,J.L.M.Valle.1,"Valle, J.L.M.",None,Brazil,unknown
2530,D.Oliva.2,"Oliva, D.",None,Cuba,unknown
26549,L.Arbeletche.1,"Arbeletche, L.",None,Brazil,unknown
10692,J.Gruber.1,"Gruber, J.",None,France,unknown
23787,C.Jia.1,"Jia, Chenglong","{'value': 'Jia, Chenglong'}",China,andy
21003,B.Pastrav.1,"Pastrav, B.",None,Romania,unknown
22237,S.Boatto.1,"Boatto, Stefanella",None,Brazil,unknown
9278,A.S.De.Jesus.3,"De Jesus, A.S.",None,Brazil,unknown
12323,W.Seggewiss.1,"Seggewiss, W.",None,Germany,unknown
14699,J.H.Montes.De.Oca.Y.1,"Montes de Oca Y., J.H.",None,Mexico,unknown
14498,L.X.Gutierrez.1,"Gutiérrez, L.X.",None,Mexico,unknown
6836,C.H.Ishwara.Chandra.2,"Ishwara-Chandra, C.H.",None,India,unknown
1868,J.Yngvason.1,"Yngvason, J.",None,Iceland,unknown
28070,E.Konishi.1,"Konishi, E.",None,Japan,unknown
29079,S.Sasaki.4,"Sasaki, Satosi","{'value': 'Sasaki, Shin'}",Brazil,andy
29654,M.A.Leigui.De.Oliveira.3,"Leigui de Oliveira, M.A.",None,Brazil,unknown
8857,B.Bandyopadhyay.1,"Bandyopadhyay, Bidisha","{'value': 'Bandyopadhyay, Bidisha'}",India,unknown
29081,G.von.Gehlen.1,"von Gehlen, G.","{'value': 'von Gehlen, Guenter', 'name_variant...",Germany,unknown
6815,A.Markowitz.1,"Markowitz, A.",None,United States,unknown
27015,F.C.Correia.1,"Correia, F.C.","{'value': 'Correia, Fagner C.', 'preferred_nam...",Brazil,unknown
21196,J.S.Alcaniz.2,"Alcaniz, J.S.",None,Brazil,unknown
25319,Da.Ping.Du.1,"Du, Da-Ping","{'value': 'Du, Da-Ping', 'name_variants': ['Du...",China,andy
10522,C.F.Yastremiz.1,"Yastremiz, C.F.",None,United Kingdom,unknown
25500,N.L.Maidana.1,"Maidana, N.L.",None,Brazil,unknown
13547,D.J.Saikia.1,"Saikia, D.J.",None,India,unknown
26105,S.Y.Lee.4,"Lee, S.Y.","{'value': 'Lee, S.Y.'}",Taiwan,unknown

check specific entries

In [28]:
JSON([d for d in df if d.get('author_id')=='F.Fontanot.3'][0])

In [5]:
import requests
au = requests.get('https://inspirehep.net/api/authors?sort=bestmatch&size=250&page=1')
if au.status_code == 200:
    au = au.json()

In [7]:
len(au['hits']['hits'])

250

In [12]:
au['links']['next']

'https://inspirehep.net/api/authors/?sort=bestmatch&q=&size=250&page=2'

In [80]:
# https://github.com/inspirehep/rest-api-doc/issues/20#issuecomment-997932079
url='https://inspirehep.net/api/authors?sort=bestmatch&size=250&page=1&q=control_number:[1+TO+2852058]'
au = requests.get(url)
if au.status_code == 200:
    au = au.json()

In [81]:
len(au['hits']['hits'])

250

In [15]:
au.status_code

400

In [ ]:
au = requests.get(url)

In [58]:
step = 10000
ini = 981872
end = ini + step
for i in range(187):
    print(f'control_number:[{ini} TO {end}]')
    ini = end + 1
    end = ini + step

control_number:[981872 TO 991872]
control_number:[991873 TO 1001873]
control_number:[1001874 TO 1011874]
control_number:[1011875 TO 1021875]
control_number:[1021876 TO 1031876]
control_number:[1031877 TO 1041877]
control_number:[1041878 TO 1051878]
control_number:[1051879 TO 1061879]
control_number:[1061880 TO 1071880]
control_number:[1071881 TO 1081881]
control_number:[1081882 TO 1091882]
control_number:[1091883 TO 1101883]
control_number:[1101884 TO 1111884]
control_number:[1111885 TO 1121885]
control_number:[1121886 TO 1131886]
control_number:[1131887 TO 1141887]
control_number:[1141888 TO 1151888]
control_number:[1151889 TO 1161889]
control_number:[1161890 TO 1171890]
control_number:[1171891 TO 1181891]
control_number:[1181892 TO 1191892]
control_number:[1191893 TO 1201893]
control_number:[1201894 TO 1211894]
control_number:[1211895 TO 1221895]
control_number:[1221896 TO 1231896]
control_number:[1231897 TO 1241897]
control_number:[1241898 TO 1251898]
control_number:[1251899 TO 1261899]
control_number:[1261900 TO 1271900]
control_number:[1271901 TO 1281901]
control_number:[1281902 TO 1291902]
control_number:[1291903 TO 1301903]
control_number:[1301904 TO 1311904]
control_number:[1311905 TO 1321905]
control_number:[1321906 TO 1331906]
control_number:[1331907 TO 1341907]
control_number:[1341908 TO 1351908]
control_number:[1351909 TO 1361909]
control_number:[1361910 TO 1371910]
control_number:[1371911 TO 1381911]
control_number:[1381912 TO 1391912]
control_number:[1391913 TO 1401913]
control_number:[1401914 TO 1411914]
control_number:[1411915 TO 1421915]
control_number:[1421916 TO 1431916]
control_number:[1431917 TO 1441917]
control_number:[1441918 TO 1451918]
control_number:[1451919 TO 1461919]
control_number:[1461920 TO 1471920]
control_number:[1471921 TO 1481921]
control_number:[1481922 TO 1491922]
control_number:[1491923 TO 1501923]
control_number:[1501924 TO 1511924]
control_number:[1511925 TO 1521925]
control_number:[1521926 TO 1531926]
control_number:[1531927 TO 1541927]
control_number:[1541928 TO 1551928]
control_number:[1551929 TO 1561929]
control_number:[1561930 TO 1571930]
control_number:[1571931 TO 1581931]
control_number:[1581932 TO 1591932]
control_number:[1591933 TO 1601933]
control_number:[1601934 TO 1611934]
control_number:[1611935 TO 1621935]
control_number:[1621936 TO 1631936]
control_number:[1631937 TO 1641937]
control_number:[1641938 TO 1651938]
control_number:[1651939 TO 1661939]
control_number:[1661940 TO 1671940]
control_number:[1671941 TO 1681941]
control_number:[1681942 TO 1691942]
control_number:[1691943 TO 1701943]
control_number:[1701944 TO 1711944]
control_number:[1711945 TO 1721945]
control_number:[1721946 TO 1731946]
control_number:[1731947 TO 1741947]
control_number:[1741948 TO 1751948]
control_number:[1751949 TO 1761949]
control_number:[1761950 TO 1771950]
control_number:[1771951 TO 1781951]
control_number:[1781952 TO 1791952]
control_number:[1791953 TO 1801953]
control_number:[1801954 TO 1811954]
control_number:[1811955 TO 1821955]
control_number:[1821956 TO 1831956]
control_number:[1831957 TO 1841957]
control_number:[1841958 TO 1851958]
control_number:[1851959 TO 1861959]
control_number:[1861960 TO 1871960]
control_number:[1871961 TO 1881961]
control_number:[1881962 TO 1891962]
control_number:[1891963 TO 1901963]
control_number:[1901964 TO 1911964]
control_number:[1911965 TO 1921965]
control_number:[1921966 TO 1931966]
control_number:[1931967 TO 1941967]
control_number:[1941968 TO 1951968]
control_number:[1951969 TO 1961969]
control_number:[1961970 TO 1971970]
control_number:[1971971 TO 1981971]
control_number:[1981972 TO 1991972]
control_number:[1991973 TO 2001973]
control_number:[2001974 TO 2011974]
control_number:[2011975 TO 2021975]
control_number:[2021976 TO 2031976]
control_number:[2031977 TO 2041977]
control_number:[2041978 TO 2051978]
control_number:[2051979 TO 2061979]
control_number:[2061980 TO 2071980]
control_number:[2071981 TO 2081981]
control_number:[2081982 TO 2091982]
control_number:[2091983 TO 2101983]
control_number:[2101984 TO 2111984]
control_number:[2111985 TO 2121985]
control_number:[2121986 TO 2131986]
control_number:[2131987 TO 2141987]
control_number:[2141988 TO 2151988]
control_number:[2151989 TO 2161989]
control_number:[2161990 TO 2171990]
control_number:[2171991 TO 2181991]
control_number:[2181992 TO 2191992]
control_number:[2191993 TO 2201993]
control_number:[2201994 TO 2211994]
control_number:[2211995 TO 2221995]
control_number:[2221996 TO 2231996]
control_number:[2231997 TO 2241997]
control_number:[2241998 TO 2251998]
control_number:[2251999 TO 2261999]
control_number:[2262000 TO 2272000]
control_number:[2272001 TO 2282001]
control_number:[2282002 TO 2292002]
control_number:[2292003 TO 2302003]
control_number:[2302004 TO 2312004]
control_number:[2312005 TO 2322005]
control_number:[2322006 TO 2332006]
control_number:[2332007 TO 2342007]
control_number:[2342008 TO 2352008]
control_number:[2352009 TO 2362009]
control_number:[2362010 TO 2372010]
control_number:[2372011 TO 2382011]
control_number:[2382012 TO 2392012]
control_number:[2392013 TO 2402013]
control_number:[2402014 TO 2412014]
control_number:[2412015 TO 2422015]
control_number:[2422016 TO 2432016]
control_number:[2432017 TO 2442017]
control_number:[2442018 TO 2452018]
control_number:[2452019 TO 2462019]
control_number:[2462020 TO 2472020]
control_number:[2472021 TO 2482021]
control_number:[2482022 TO 2492022]
control_number:[2492023 TO 2502023]
control_number:[2502024 TO 2512024]
control_number:[2512025 TO 2522025]
control_number:[2522026 TO 2532026]
control_number:[2532027 TO 2542027]
control_number:[2542028 TO 2552028]
control_number:[2552029 TO 2562029]
control_number:[2562030 TO 2572030]
control_number:[2572031 TO 2582031]
control_number:[2582032 TO 2592032]
control_number:[2592033 TO 2602033]
control_number:[2602034 TO 2612034]
control_number:[2612035 TO 2622035]
control_number:[2622036 TO 2632036]
control_number:[2632037 TO 2642037]
control_number:[2642038 TO 2652038]
control_number:[2652039 TO 2662039]
control_number:[2662040 TO 2672040]
control_number:[2672041 TO 2682041]
control_number:[2682042 TO 2692042]
control_number:[2692043 TO 2702043]
control_number:[2702044 TO 2712044]
control_number:[2712045 TO 2722045]
control_number:[2722046 TO 2732046]
control_number:[2732047 TO 2742047]
control_number:[2742048 TO 2752048]
control_number:[2752049 TO 2762049]
control_number:[2762050 TO 2772050]
control_number:[2772051 TO 2782051]
control_number:[2782052 TO 2792052]
control_number:[2792053 TO 2802053]
control_number:[2802054 TO 2812054]
control_number:[2812055 TO 2822055]
control_number:[2822056 TO 2832056]
control_number:[2832057 TO 2842057]
control_number:[2842058 TO 2852058]

In [74]:
au.status_code

200

In [77]:
len(au.json()['hits']['hits'])

250