# Get gender

## Add `'gender'` key to database

In [1]:
import requests
from IPython.display import JSON
from gender_guesser_first_names import gender
from re import sub
import json

In [2]:
LOCAL=False
if LOCAL:
    f=open('data/inspire_LA.json','r')
    df=json.load(f)
    f.close()
else:
    r=requests.get('https://github.com/restrepo/inspireauth/raw/main/data/inspire_LA.json')
    df=r.json()

In [3]:
D=gender.Detector(case_sensitive=False)

In [83]:
def force_get_gender(d):
    '''
     Get names from `name.value` and if empty get it from `full_name`
     and using `country` information if avalaible
    '''
    gender = 'unknown'
    names = ''
    if (d.get('name') and d.get('name').get('value') and 
        sub('\w\.','',d.get('name').get('value').split(', ')[-1]).strip()):
        names = sub('\w\.','',d.get('name').get('value').split(', ')[-1]).strip()
    if not names and d.get('full_name'):
        names = sub('\w\.','',d.get('full_name').split(', ')[-1]).strip()
    if names:
        if d.get('country'):
            gender = D.get_gender( get_names(d), country=d.get('country').strip() )
        else:
            gender = D.get_gender( get_names(d) )
    return gender

In [86]:
kk = [d.update( {'gender': force_get_gender(d)} ) for d in df ]

In [87]:
f=open('inspire_LA_gender.json','w')
json.dump(df,f)
f.close()

## Analysis

In [88]:
import pandas as pd

In [89]:
DF = pd.read_json('inspire_LA_gender.json')

Unique authors ids

In [90]:
DF.shape[0]

57588

In [91]:
DF = DF.drop_duplicates('author_id').reset_index(drop=True)
DF.shape[0]

29969

In [92]:
DF['first_names'] = DF['name'].str.get('value').astype(str).str.split(', ').str[-1]#.apply(
    #lambda s: sub('\w\.','',s)).str.replace('None','')

In [93]:
DF['gender'].unique()

array(['male', 'unknown', 'female', 'andy'], dtype=object)

In [94]:
print(DF['gender'].shape[0])
total = DF['gender'].dropna().shape[0]
total

29969

29969

In [95]:
male = DF[DF['gender'] == 'male'].shape[0]
female = DF[DF['gender'] == 'female'].shape[0]
unknown = DF[DF['gender'] == 'unknown'].shape[0]
unknown = unknown + DF[DF['gender'] == 'andy'].shape[0]

In [96]:
assert male + female + unknown == total

In [97]:
male+female

17335

In [98]:
male

14626

In [99]:
female

2709

In [100]:
round(female/male,2)

0.19

In [101]:
unknown

12634

In [102]:
DFFM = DF[ (( DF['gender'] == 'female') | ( DF['gender'] == 'male')) ]
DFFM.shape

(17335, 14)

In [103]:
DFU = DF[ ~(( DF['gender'] == 'female') | ( DF['gender'] == 'male')) ]
DFU.shape

(12634, 14)

In [104]:
DFFM[['first_names','country','gender']].sample(50)

            first_names             country  gender
11252     Daniel Victor               Italy    male
8720        Cristian A.               Chile    male
20796            Andrea               Italy    male
14             Anamaria           Venezuela  female
20624            Rafael              Brazil    male
1942     Angel Giovanni           Guatemala    male
13422             Jorge       United States    male
4799          Robert.L.       United States    male
20677             Denis              Brazil    male
6649            Rogerio              Brazil    male
14602         Ildefonso              Mexico    male
5710               None               Spain    male
24993              None              Brazil    male
12852            Camila              Brazil  female
4910               Lutz             Germany    male
26072             Elisa               Italy  female
1007       Aleksandr T.               Italy    male
19304              None              Brazil  female
236            Henry C.       United States    male
730              Martin       United States    male
21836              None       United States    male
25761       Henrique S.              Brazil    male
21362              Rute              Brazil  female
25455             Elise       United States  female
11819           Malcolm              Sweden    male
4840               None             Germany    male
4534       Nicolas J.P.             Germany    male
19967           Marcelo              Brazil    male
9050               None       United States    male
12206  Matthew Benjamin       United States    male
5775         William K.               Chile    male
637            L.Arturo              Mexico    male
27402              None              Brazil    male
28821             Vahid              Canada    male
33          Fernando G.               Spain    male
4768              Kimmo             Finland    male
25059          Maurício              Brazil    male
14928              José              Mexico    male
19076              None              Brazil    male
17792           Stephen      United Kingdom    male
9484           Vivek M.               India    male
6212           Matthias             Germany    male
8340            Ludovic              Canada    male
9559         M. Celeste             Austria  female
3172          Alexander  Russian Federation    male
16767           Daniele             Germany  female
1472               None              France    male
22567            Ashish              Brazil    male
27040          Wojciech              Poland    male
12097            Sophia       United States  female

In [105]:
#[['first_names','country','gender']]
DFU.sample(50)[['author_id','full_name','name','country','gender']]

,author_id,full_name,name,country,gender
14804,J.L.Mateos.1,"Mateos, J.L.",None,Mexico,unknown
4423,M.Cappellari.1,"Cappellari, M.","{'value': 'Cappellari, M.', 'preferred_name': ...",Netherlands,unknown
27767,A.C.Rodrigues.Mendes.1,"Rodrigues Mendes, A.C.",None,Brazil,unknown
15463,P.D.Miller.1,"Miller, P.D.",None,United States,unknown
26366,A.L.R.Dos.santos.1,"dos Santos, A. L. R.",None,Brazil,unknown
12742,M.R.Zirnbauer.1,"Zirnbauer, M.R.","{'value': 'Zirnbauer, M.R.', 'preferred_name':...",United States,unknown
17259,C.Oropeza.1,"Oropeza, C.",None,Mexico,unknown
9599,K.Aryal.2,"Aryal, Krishna",None,United States,andy
29922,A.Tenorio.1,"Tenorio, A.",None,Brazil,unknown
3766,F.X.Josse.Michaux.1,"Josse-Michaux, Francois-Xavier","{'value': 'Josse-Michaux, Francois-Xavier', 'p...",France,unknown
21574,E.Ydrefors.1,"Ydrefors, E.","{'value': 'Ydrefors, E.', 'preferred_name': 'E...",Brazil,unknown
15099,C.C.Zhou.1,"Zhou, Chi-Chun","{'value': 'Zhou, Chi-Chun'}",China,unknown
28268,M.Sharif.2,"Sharif, M.",None,Brazil,unknown
22932,S.M.M.Rasouli.1,"Rasouli, S.M.M.","{'value': 'Rasouli, S.M.M.', 'preferred_name':...",Puerto Rico,unknown
25793,S.Chattopadhaya.1,"Chattopadhaya, Subhasis",None,India,unknown
12644,A.E.Pavlov.1,"Pavlov, A.E.","{'value': 'Pavlov, A.E.', 'preferred_name': 'A...",Russian Federation,unknown
11196,H.Ceccatto.1,"Ceccatto, H.",None,Argentina,unknown
27149,D.P.Meira.2,"Meira, D.P.",None,Brazil,unknown
3638,K.Gui.1,"Gui, Kaiwen","{'value': 'Gui, Kaiwen'}",United States,andy
7076,S.K.Yi.1,"Yi, Sukyoung",None,United Kingdom,unknown
24779,T.Abrahao.1,"Abrahão, Thamys","{'value': 'Abrahão, T.'}",Brazil,unknown
20511,Z.V.T.Santos.1,"Santos, Z.V.T.",None,Brazil,unknown
16394,A.Pantoja.1,"Pantoja, Aldair",None,Mexico,unknown
13334,M.O.Andreae.1,"Andreae, Meinrat O.",None,Germany,unknown
22717,J.G.Cardoso.1,"Cardoso, J.G.",None,Brazil,unknown
22652,T.Guerreiro.1,"Guerreiro, Thiago","{'value': 'Guerreiro, Thiago'}",Brazil,unknown
19611,H.Bergeron.1,"Bergeron, H.",None,France,unknown
1971,C.M.Galon.1,"Galon, C.M.","{'value': 'Galon, C.M.'}",Guatemala,unknown
8269,P.Persi.1,"Persi, P.",None,Italy,unknown
13822,J.R.Gomez.Diaz.2,"Gómez-Díaz, J.R.",None,Mexico,unknown
28531,N.Euler.1,"Euler, N.",None,Brazil,unknown
5989,A.Peimbert.1,"Peimbert, A.",None,Mexico,unknown
24268,A.Krasinski.2,"Krasinski, A.",None,Poland,unknown
27770,L.Rachwal.2,"Rachwał, L.",None,Brazil,unknown
15695,J.M.Rivera.2,"Rivera, J.M.",None,Mexico,unknown
20109,M.A.F.Alves.1,"Alves, M.A.",None,Brazil,unknown
12484,M.Mahakhud.1,"Mahakhud, Maguni","{'value': 'Mahakhud, Maguni'}",India,unknown
17161,A.Arroyo.Garcia.1,"Arroyo Garcia, A.",None,Mexico,unknown
23631,C.Vasquez.Flores.1,"Flores, C. Vásquez",None,Brazil,unknown
27078,F.Ter.Braak.1,"ter Braak, F.",None,United Kingdom,unknown
17377,V.Gupta.16,"Gupta, V.","{'value': 'Gupta, V.'}",Mexico,unknown
2449,J.Castineiras.1,"Castineiras, J.",None,Cuba,unknown
28618,H.Khan.3,"Khan, H.A.",None,Pakistan,unknown
28010,S.S.S.Martins.1,"Martins, J.S.Sa",None,United States,andy
16866,A.V.Turbiner.2,"Turbiner, A.V.",None,Mexico,unknown
29430,A.F.Da.F.Teixeira.1,"Da F.Teixeira, A.F.",None,Brazil,unknown
20284,J.R.Guimaraes.1,"Guimarães, Jéferson R.","{'value': 'Guimarães, J.R.'}",Brazil,unknown
4663,B.Carswell.1,"Carswell, B.",None,United Kingdom,unknown
11446,H.Godfrin.1,"Godfrin, H.",None,France,unknown
12678,H.J.de.Vega.1,"De Vega, H.J.","{'value': 'de Vega, H.J.', 'name_variants': ['...",Argentina,unknown