In [1]:
import pandas as pd
import requests
import json
import time
sleep=0.4

In [2]:
LOCAL=False
if LOCAL:
    f=open('data/inspire_LA.json','r')
    df=json.load(f)
    f.close()
else:
    r=requests.get('https://github.com/restrepo/inspireauth/raw/main/data/inspire_LA.json')
    df=r.json()

In [3]:
print(len(df))

57588

## Get ranks for each institution for authors with declared profile

In [9]:
dfc=pd.DataFrame(df)
dfc=dfc[['institution_id','country']]
dfc.drop_duplicates(inplace=True)
dfc.shape

(3424, 2)

In [18]:
## Count ranks per country
dfp=[d for d in df if d.get('positions')]
profile_ranks=[]
for d in dfp:
    for p in d.get('positions'):
        ds = {}
        ds['profile_id'] = d.get('profile_id')
        for k in p.keys():
            if k == 'record':
                try:
                    ds['institution_id'] = p[k].get('$ref').split('/')[-1]
                except:
                    ds['institution_id'] = None
            else:
                ds[k] = p[k]
        if not p.get('rank'):
            ds['rank']=None

        if ds.get('institution_id'):
            c=dfc[dfc['institution_id']==ds['institution_id']]
            if not c.empty:
                ds['country']=c.iloc[0]['country']
            else:
                ds['country']=None

        profile_ranks.append(ds)
        #raise Exception('Stop')

In [19]:
dfp=pd.DataFrame(profile_ranks)
dfp['rank'].value_counts()

POSTDOC          17712
PHD              15937
SENIOR            9845
UNDERGRADUATE     8068
JUNIOR            3982
MASTER            3590
VISITOR           2508
STAFF             1626
OTHER               66
Name: rank, dtype: int64

In [23]:
dfp[dfp['country']=='Chile']['rank'].value_counts()

POSTDOC          571
PHD              500
SENIOR           399
UNDERGRADUATE    334
JUNIOR           240
MASTER           153
VISITOR           56
OTHER             21
STAFF              6
Name: rank, dtype: int64

In [24]:
dfp[dfp['country']=='Brazil']['rank'].value_counts()

PHD              1650
POSTDOC          1531
SENIOR           1249
UNDERGRADUATE    1008
MASTER            851
JUNIOR            327
VISITOR           292
STAFF             253
Name: rank, dtype: int64

In [25]:
dfp[dfp['country']=='Argentina']['rank'].value_counts()

PHD              614
UNDERGRADUATE    403
SENIOR           246
POSTDOC          190
MASTER           103
STAFF             84
JUNIOR            75
VISITOR            8
Name: rank, dtype: int64

In [27]:
dfp[dfp['country']=='Mexico']['rank'].value_counts()

PHD              683
SENIOR           551
POSTDOC          547
UNDERGRADUATE    330
JUNIOR           282
MASTER           248
STAFF            122
VISITOR           42
OTHER              1
Name: rank, dtype: int64

In [26]:
dfp[dfp['country']=='Colombia']['rank'].value_counts()

UNDERGRADUATE    171
SENIOR           112
JUNIOR            72
MASTER            70
POSTDOC           60
PHD               31
STAFF             13
VISITOR           11
Name: rank, dtype: int64

In [29]:
dfp[dfp['country']=='Uruguay']['rank'].value_counts()

SENIOR           23
UNDERGRADUATE    18
MASTER           17
STAFF            12
PHD               8
POSTDOC           6
JUNIOR            3
Name: rank, dtype: int64

## Fix bad `profile_id` for `LOCAL â†’ True`

In [280]:
#author_id='J.S.Useche.1'
def get_profile_id(author_id,sleep=0.4):
    #if True:
    status=False
    l=[]
    pi=None
    #try:
    #if True:
    try:
        #https://inspirehep.net/literature?q=ea+J.D.Ruiz.Alvarez.2+and+ac+1->10
        url=f'https://inspirehep.net/api/literature?q=ea+{author_id}+and+ac+1->10'
        r=requests.get(url)
        time.sleep(sleep)
        if r.status_code==200:
            data=r.json()
            status=True
            #if not `try` fails and `pass``.
        for d in data.get('hits').get('hits'):
            #l=[a.get('record') for a in d.get('metadata').get('authors') if a.get('bai')==author_id]
            try: #failsafe
                l=[a for a in data.get('hits').get('hits')[0].get('metadata').get('authors') if a.get('bai')==author_id]
            except:
                l=[]
        if len(l)==1 and l[0].get('record'):
            pi=l[0].get('record').get('$ref').split('/')[-1]
    except:
        pass
    return pi,status

TEST=True
if TEST:
    assert get_profile_id('J.S.Useche.1')==('2572877',True)
    assert get_profile_id('J.D.Ruiz.Alvarez.2')==('1184534',True)
    assert get_profile_id('S.Das.8')==(None,True)
    assert get_profile_id('M.Sanchez.39')==(None, True)

In [281]:
def get_advisor(i,sleep=0.4):
    adv=[]
    try:
        r=requests.get('https://inspirehep.net/api/authors/{}'.format(i))
        time.sleep(sleep)
        adv=r.json().get('metadata').get('advisors')
        if adv is None:
            adv=[]
    except:
        pass
    return adv

In [282]:
#a=df[0]
#a.get('author_id')
GET_ADVISORS=False
if GET_ADVISORS:
    kk=[a.update({'advisors':get_advisor(a.get('profile_id'))}) for a in df if not a.get('advisors')]

In [283]:
SAVE=False
status=0
step=1000
i=0
for start in range(0,len(df),step):
    for d in df[start:start+step]:
        i+=1
        print(str(i).zfill(5),status,end='\r')

        if len(set([dd.get('author_id') for dd in df  if dd.get('profile_id')==d.get('profile_id')]))==1:
            continue
        author_id=d.get('author_id')
        check_profile_id=get_profile_id(author_id)
        if check_profile_id[1] and check_profile_id[0]!=d.get('profile_id'):
            d['profile_id']=check_profile_id[0]
            d['advisors']=get_advisor(d.get('profile_id'))
            status=1
        else:
            status=0
    if SAVE:
        f=open('data/inspire_LA.json','w')
        json.dump(df,f)
        f.close()

KeyboardInterrupt:

## Students object

In [ ]:
[dd for dd in df if dd.get('author_id')=='M.Sanchez.39']

[{'author_id': 'M.Sanchez.39',
  'country': 'Colombia',
  'email_addresses': None,
  'full_name': 'SÃ¡nchez, M.',
  'ids': None,
  'institution': 'Antioquia U.',
  'institution_id': '903906',
  'name': None,
  'papers': [{'recid': 1415059,
    'year': '2015',
    'citation_count': 2,
    'primary_arxiv_category': [],
    'journal_id': '1365972',
    'author_id': 'M.Sanchez.39',
    'instituion_id': '903906'}],
  'positions': None,
  'profile_id': None,
  'advisors': []}]

In [ ]:
df=pd.DataFrame(df)

In [ ]:
df[df.advisors.apply(len)>0].shape

(11326, 12)

In [ ]:
df[ (df['positions'].str[0].str['rank'].apply(lambda r: r is not None)) & 
   (df['positions'].str[0].str['rank'].apply(lambda r: r is not None)) ].shape

(13745, 12)

In [ ]:
df[df['positions'].str[0].apply(lambda r:isinstance(r,dict))].shape

(28388, 12)

People which have edited their profile in INSPIREHEP

In [ ]:
df[ (df['positions'].str[0].str['rank'].apply(lambda r:isinstance(r,str))) 
    | (df.advisors.apply(len)>0 ) ].shape

(16762, 12)

In [ ]:
df.shape

(57588, 12)

In [ ]:
#df['profile_id']=df['profile_id'].fillna(0).astype(int).astype(str).apply(lambda p: None if p=='0' else p)

In [ ]:
df[df['profile_id']=='991924']

,author_id,country,email_addresses,full_name,ids,institution,institution_id,name,papers,positions,profile_id,advisors
4722,D.Restrepo.1,Colombia,"[{'value': 'restrepo@udea.edu.co', 'current': ...","Restrepo, Diego","[{'value': 'D.Restrepo.1', 'schema': 'INSPIRE ...",Antioquia U.,903906,"{'value': 'Restrepo Quintero, Diego Alejandro'...","[{'recid': 926166, 'year': '2012', 'citation_c...","[{'rank': 'SENIOR', 'hidden': False, 'record':...",991924,"[{'ids': [{'value': 'INSPIRE-00133260', 'schem..."
4762,D.Restrepo.1,Italy,"[{'value': 'restrepo@udea.edu.co', 'current': ...","Restrepo, Diego","[{'value': 'D.Restrepo.1', 'schema': 'INSPIRE ...","ICTP, Trieste",902861,"{'value': 'Restrepo Quintero, Diego Alejandro'...","[{'recid': 926166, 'year': '2012', 'citation_c...","[{'rank': 'SENIOR', 'hidden': False, 'record':...",991924,"[{'ids': [{'value': 'INSPIRE-00133260', 'schem..."
5942,D.Restrepo.1,Spain,"[{'value': 'restrepo@udea.edu.co', 'current': ...","Restrepo, Diego A.","[{'value': 'D.Restrepo.1', 'schema': 'INSPIRE ...",Valencia U.,903319,"{'value': 'Restrepo Quintero, Diego Alejandro'...","[{'recid': 926166, 'year': '2012', 'citation_c...","[{'rank': 'SENIOR', 'hidden': False, 'record':...",991924,"[{'ids': [{'value': 'INSPIRE-00133260', 'schem..."
6064,D.Restrepo.1,Brazil,"[{'value': 'restrepo@udea.edu.co', 'current': ...","Restrepo, Diego","[{'value': 'D.Restrepo.1', 'schema': 'INSPIRE ...","IIP, Brazil",912344,"{'value': 'Restrepo Quintero, Diego Alejandro'...","[{'recid': 926166, 'year': '2012', 'citation_c...","[{'rank': 'SENIOR', 'hidden': False, 'record':...",991924,"[{'ids': [{'value': 'INSPIRE-00133260', 'schem..."
6066,D.Restrepo.1,Brazil,"[{'value': 'restrepo@udea.edu.co', 'current': ...","Restrepo, Diego","[{'value': 'D.Restrepo.1', 'schema': 'INSPIRE ...",Campinas State U.,902714,"{'value': 'Restrepo Quintero, Diego Alejandro'...","[{'recid': 926166, 'year': '2012', 'citation_c...","[{'rank': 'SENIOR', 'hidden': False, 'record':...",991924,"[{'ids': [{'value': 'INSPIRE-00133260', 'schem..."
6072,D.Restrepo.1,Spain,"[{'value': 'restrepo@udea.edu.co', 'current': ...","Restrepo, D.A.","[{'value': 'D.Restrepo.1', 'schema': 'INSPIRE ...","Valencia U., IFIC",907907,"{'value': 'Restrepo Quintero, Diego Alejandro'...","[{'recid': 926166, 'year': '2012', 'citation_c...","[{'rank': 'SENIOR', 'hidden': False, 'record':...",991924,"[{'ids': [{'value': 'INSPIRE-00133260', 'schem..."

In [ ]:
L=[1,2,3]
L.remove(1)
L

[2, 3]

In [ ]:
profile_id = '991924'
a = {'ids': [{'value': 'INSPIRE-00133260', 'schema': 'INSPIRE ID'}],
 'name': 'Valle, Jose W.F.',
 'hidden': False,
 'record': {'$ref': 'https://inspirehep.net/api/authors/985058'},
 'degree_type': 'phd',
 'curated_relation': False}
r = {'author_id':'D.Restrepo.1',
   'name':{'value': 'Restrepo Quintero, Diego Alejandro',
   'preferred_name': 'Diego Restrepo'},
   'positions': [{'rank': 'PHD',
                  'hidden': False,
                  'record': {'$ref': 'https://inspirehep.net/api/institutions/907907'},
                  'current': False,
                  'end_date': '2001',
                  'start_date': '1997',
                  'institution': 'Valencia U., IFIC',
                  'curated_relation': True}
                ]
   }
advisor_profile_id = '985058'
d = {}

def get_position(ds, p):
    for k in p.keys():
        if k == 'record':
            try:
                ds['institution_id'] = p[k].get('$ref').split('/')[-1]
            except:
                ds['institution_id'] = None
        else:
            ds[k] = p[k]
    return ds


def get_student(rr, a, profile_id,ranks=['UNDERGRADUATE','MASTER','PHD']):
    "Trigger if advisor exits within `a`"
    r=rr.copy()
    old_ranks=ranks.copy()
    students=[]
    degree_type = a.get('degree_type')
    if degree_type=='bachelor':
        degree_type='undergraduate'
    if not r.get('positions'):
        r['positions']=[]
    #    return students
    for p in r.get('positions'):
        ds = {}
        if p.get('rank') and p.get('rank').lower() == degree_type:
            ds = get_position(ds,p)
            if old_ranks and p.get('rank') in old_ranks:
                old_ranks=old_ranks.remove(p.get('rank'))
        elif (isinstance(r.get('advisors'),list) and len(r.get('advisors'))==1 and p.get('rank') and 
              old_ranks and p.get('rank') in old_ranks and (p.get('rank')=='PHD' or p.get('rank')=='MASTER')):
            ds = get_position(ds,p) 
        else:
            continue
        if ds:
            if ds.get('rank') not in ranks and degree_type:
                ds['rank'] = degree_type.upper()
            ds['student_id'] = r.get('author_id')
            ds['student_name'] = r.get('name').get('value')
            ds['student_profile_id'] = profile_id
            students.append(ds)
    # if not positons in ranks
    if not students:
        #Advisor declared but not in positions
        ds = {}
        ds['rank'] = "PHD"
        if r.get('author_id'):
            ds['student_id'] = r.get('author_id')
            if r.get('name'):
                ds['student_name'] = r.get('name').get('value')
            ds['student_profile_id'] = profile_id
        students.append(ds)


    return students
#assert get_student(r, a, profile_id).get('institution_id') == '907907'

def get_student_without_advisor(p, r, profile_id, ranks=['UNDERGRADUATE','MASTER','PHD']):
    ds = {}
    ds = get_position(ds, p)
    if r.get('author_id'):
        ds['student_id'] = r.get('author_id')
        if r.get('name'):
            ds['student_name'] = r.get('name').get('value')
        ds['student_profile_id'] = profile_id
    return ds


def get_id(d, df, id_type='profile_id'):
    new_id = d.get('profile_id')
    try:
        lpid = list(set(df[ (df['name'].str['value']==d.get('name')) ][id_type].to_list()))
    except:
        lpid=[]
    if len(lpid) == 1:
        if lpid[0]:
            new_id = lpid[0]
    return new_id


def get_advisor(d, advisor_profile_id, a, df):
    d['profile_id'] = advisor_profile_id

    d['name'] = a.get('name')

    if not d.get('profile_id'):
        d['profile_id'] = get_id(d, df, id_type='profile_id')
    if not d.get('profile_id'):
        d['author_id'] = get_id(d, df, id_type='author_id')

    return d
assert get_advisor(d,advisor_profile_id, a, df).get('profile_id') == '985058'

In [ ]:
# 991924  # J Valle advisor
# 1854904 # not advisor â†’ Unknown
# 1045947 # not position
# 1014628 # J Valle advisor
# 1028906 # not advisor â†’ Unknown
profile_id=['991924','1014628','1854904','1045947','1021727','1073921','1066143','989075','983327','1009735','1402655','1078540'][-1]
r=df[df['profile_id']==profile_id].iloc[0].to_dict()

In [ ]:
f=open(f'tests/data/{profile_id}.json','w')
json.dump(r,f)
f.close()

In [ ]:
r.get('advisors')[0]

{'ids': [{'value': 'INSPIRE-00078533', 'schema': 'INSPIRE ID'}],
 'name': 'Dunsby, Peter K.S.',
 'record': {'$ref': 'https://inspirehep.net/api/authors/1011208'},
 'degree_type': 'phd'}

In [ ]:
r.get('positions')

[{'rank': 'SENIOR',
  'record': {'$ref': 'https://inspirehep.net/api/institutions/906964'},
  'current': True,
  'start_date': '2015',
  'institution': 'North West U., South Africa',
  'curated_relation': True},
 {'rank': 'POSTDOC',
  'record': {'$ref': 'https://inspirehep.net/api/institutions/906964'},
  'end_date': '2015',
  'start_date': '2014',
  'institution': 'North West U., South Africa',
  'curated_relation': True},
 {'rank': 'PHD',
  'record': {'$ref': 'https://inspirehep.net/api/institutions/912025'},
  'end_date': '2013',
  'start_date': '2010',
  'institution': 'Cape Town U., ACGC',
  'curated_relation': True},
 {'rank': 'MASTER',
  'record': {'$ref': 'https://inspirehep.net/api/institutions/912025'},
  'end_date': '2009',
  'start_date': '2008',
  'institution': 'Cape Town U., ACGC',
  'curated_relation': True},
 {'record': {'$ref': 'https://inspirehep.net/api/institutions/905515'},
  'end_date': '2007',
  'start_date': '2003',
  'institution': 'Addis Ababa U.',
  'curated_relation': True},
 {'end_date': '2003', 'start_date': '2002', 'institution': 'Mekelle U.'}]

In [ ]:
def get_students(r, profile_id, pre_students=[]):
    ranks = ['UNDERGRADUATE', 'MASTER', 'PHD']

    if any([ any([ss.get('student_profile_id') == profile_id for ss in s.get('students')])
       for s in pre_students]):
        print('Already in students')
        #raise Exception('Already in students')
        return pre_students

    for a in r.get('advisors'):
        # Get profile_id or author_id or name of advisor
        try:
            advisor_profile_id = a.get('record').get('$ref').split('/')[-1]
        except:
            advisor_profile_id = ''

        OLD_ADVISOR = False
        for old_a in pre_students:
            # TODO: check for other indetifiers
            if advisor_profile_id and old_a.get('profile_id') == advisor_profile_id:
                old_a['students'].extend(get_student(r, a, profile_id,ranks))
                OLD_ADVISOR = True
                break
        if OLD_ADVISOR:
            continue

        d = {}
        d = get_advisor(d, advisor_profile_id, a, df)

        d['students'] = get_student(r, a, profile_id,ranks)

        pre_students.append(d)



    # Update ranks
    if r.get('advisors'):
        L = [[s.get('rank') for s in a.get('students') if s.get('rank')] for a in pre_students]
        ranks = set(ranks).difference([item for sublist in L for item in sublist])

    if not r.get('positions'):
        #raise Exception('Already in students')
        return pre_students


    for p in r.get('positions'):
        if p.get('rank') in ranks:
            d = {}
            d['students'] = []
            ds = get_student_without_advisor(p, r, profile_id, ranks=ranks)
            d['students'].append(ds)
            d['profile_id'] = None
            d['name'] = 'Unkown'
            pre_students.append(d)

    return pre_students

In [ ]:
profile_id='991924'
f=open(f'tests/data/{profile_id}.json','r')
r=json.load(f)
f.close()
pre_students = get_students(r, profile_id, [])
assert len(pre_students)==3
profile_id='1014628'
f=open(f'tests/data/{profile_id}.json','r')
r=json.load(f)
f.close()
pre_students = get_students(r, profile_id, [])
assert pre_students[0].get('students')[0].get('rank')=='PHD'
profile_id='1854904'
f=open(f'tests/data/{profile_id}.json','r')
r=json.load(f)
f.close()
pre_students = get_students(r, profile_id, [])
assert len(pre_students)==3
profile_id='1045947'
f=open(f'tests/data/{profile_id}.json','r')
r=json.load(f)
f.close()
pre_students = get_students(r, profile_id, [])
assert pre_students[0].get('profile_id')=='991924'
profile_id='1073921'
f=open(f'tests/data/{profile_id}.json','r')
r=json.load(f)
f.close()
pre_students = get_students(r, profile_id, [])
assert len(set(['MASTER','PHD']).difference(
    [[dd.get('rank') for dd in d.get('students')] for d in pre_students][0]
 ))==0
profile_id='1066143'
f=open(f'tests/data/{profile_id}.json','r')
r=json.load(f)
f.close()
LIST=[[dd.get('rank') for dd in d.get('students')] for d in get_students(r,profile_id, [])]
assert [item for sublist in LIST for item in sublist] == ['PHD', 'PHD']

In [ ]:
dfa=df.drop_duplicates(subset=['profile_id']).reset_index(drop=True)

In [ ]:
pre_students = []
for profile_id in dfa['profile_id']:
    r = df[df['profile_id']==profile_id]
    if not r.empty:
        r = r.iloc[0].to_dict()
    else:
        continue
    if profile_id and r:
        pre_students = get_students(r, profile_id,pre_students)

Get Advisor level

In [ ]:
def add_level(pre_students,LL,level=0):
    for parent_id in LL:
        #print(parent_id,end='\r')
        try:
            d=[d for d in pre_students if d.get('profile_id')==parent_id][0]
            d['level']=level
        except:
            continue

In [ ]:
ps=pd.DataFrame(pre_students)
ps=ps.dropna(subset=['profile_id']).reset_index(drop=True)
# students
L=ps.students.apply(lambda L: [d.get('student_profile_id') for d in L]).to_list()
# Level 0 advisors
LL=list(  set(ps.profile_id.to_list()).difference( set([item for subitem in L for item in subitem]) ) ) 
LL=[x for x in LL if x]
print(len(LL))

level=0
while LL:
    add_level(pre_students,LL,level=level)

    LL=[ [dd.get('student_profile_id') for dd in  d.get('students') if dd.get('rank')=='PHD'] for d in pre_students if d.get('level')==level]
    LL=set([item for sublist in LL for item in sublist])
    LL=[x for x in LL if x]
    print(level,len(LL))
    level+=1
    if level>10:
        break

2170
0 2658
1 1233
2 428
3 71
4 8
5 4
6 0

In [ ]:
chk_levels=['1020782','1013015','989075','996018','1026011','1066143']
LL=[[d.get('level') for d in pre_students if d.get('profile_id')==chk_levels[i]] for i in range(len(chk_levels))]
assert [item for sublist in LL for item in sublist]==list(range(6))

In [ ]:
[d for d in pre_students if d.get('level')==4][0]

{'profile_id': '1020446',
 'name': 'Raya MontaÃ±o, Alfredo',
 'students': [{'rank': 'PHD',
   'institution_id': '905835',
   'end_date': '2017',
   'start_date': '2013',
   'institution': 'IFM-UMSNH, Michoacan',
   'curated_relation': True,
   'student_id': 'S.Hernandez.Ortiz.1',
   'student_name': 'HernÃ¡ndez-Ortiz, SaÃºl',
   'student_profile_id': '1274692'},
  {'rank': 'PHD',
   'institution_id': '905835',
   'end_date': '2016',
   'start_date': '2012',
   'institution': 'IFM-UMSNH, Michoacan',
   'curated_relation': True,
   'student_id': 'Aftab.Ahmad.1',
   'student_name': 'Ahmad, Aftab',
   'student_profile_id': '1373106'}],
 'level': 4}

In [ ]:
f=open('data/students.json','w')
json.dump(pre_students,f)
f.close()

In [ ]:
student_profile_id='1045947'
[d for d in pre_students if any([dd.get('student_profile_id')==student_profile_id for dd in d.get('students')])]

[{'profile_id': '991924',
  'name': 'Restrepo Diego',
  'students': [{'rank': 'PHD',
    'institution_id': '903906',
    'end_date': '2017',
    'start_date': '2013',
    'institution': 'Antioquia U.',
    'curated_relation': True,
    'student_id': 'G.Palacio.1',
    'student_name': 'Palacio, Guillermo',
    'student_profile_id': '1458807'},
   {'rank': 'MASTER',
    'institution_id': '906485',
    'end_date': '2013',
    'start_date': '2011',
    'institution': 'Colombia, U. Natl.',
    'curated_relation': True,
    'student_id': 'G.Palacio.1',
    'student_name': 'Palacio, Guillermo',
    'student_profile_id': '1458807'},
   {'rank': 'PHD',
    'student_id': 'Oscar.Zapata.1',
    'student_name': 'Zapata NoreÃ±a, Oscar',
    'student_profile_id': '1045947'},
   {'rank': 'UNDERGRADUATE',
    'hidden': False,
    'institution_id': '903906',
    'current': False,
    'end_date': '2011',
    'start_date': '2006',
    'institution': 'Antioquia U.',
    'curated_relation': True,
    'student_id': 'R.Longas.1',
    'student_name': 'Longas Bedoya, Robinson',
    'student_profile_id': '1402655'},
   {'rank': 'PHD',
    'institution_id': '903906',
    'current': True,
    'start_date': '2014',
    'institution': 'Antioquia U.',
    'curated_relation': True,
    'student_id': 'C.Salazar.3',
    'student_name': 'Salazar, Camilo',
    'student_profile_id': '1597216'}],
  'level': 2}]

Example: CINVESTAV-IPN

In [ ]:
institution_id='903002' #'907907' # '903002' # '903906'
ins_studs=[d for d in pre_students if any([dd.get('institution_id')==institution_id for dd in d.get('students')])]

In [ ]:
cinvestav=[]
for d in ins_studs:
    dd=d.copy()
    students=[]
    for s in dd.get('students'):
        if s.get('institution_id')==institution_id:
            students.append(s)
    dd['students']=students
    cinvestav.append(dd)

In [ ]:
LL=[d.get('students') for d in cinvestav]
len([item for sublist in LL for item in sublist])

98

In [ ]:
cv=pd.DataFrame(cinvestav)
LL=cv.apply(lambda d: [{'student_name':dd.get('student_name'),
                     'profile_id':dd.get('student_profile_id'),
                     'degree':dd.get('rank'),
                     'start':dd.get('start_date'),
                     'end':dd.get('end_date'),#'student_position':dd.get('position'),
                     'advisor_name':d.get('name'),
                     'advisor_id':d.get('profile_id')} for dd in d.get('students')],axis=1)
LL=[item for sublist in LL for item in sublist]
cv_df=pd.DataFrame(LL)
cv_df=cv_df.sort_values(by=['advisor_name','end']).reset_index(drop=True)
cv_df[:1]

,student_name,profile_id,degree,start,end,advisor_name,advisor_id
0,"Higuita Borja, Daniel Fernando",1318752,MASTER,2010,2012,"AyÃ³n-Beato, Eloy",1017802

In [ ]:
cv_df=cv_df.merge(df[['institution','profile_id']],on='profile_id',how='left').drop_duplicates(
    ['student_name','degree','advisor_name']).rename(columns={'institution':'position'}).reset_index(drop=True)
cv_df

,student_name,profile_id,degree,start,end,advisor_name,advisor_id,position
0,"Higuita Borja, Daniel Fernando",1318752,MASTER,2010,2012,"AyÃ³n-Beato, Eloy",1017802,"Chile Austral U., Valdivia"
1,"JuÃ¡rez-Aubry, MarÃ­a Montserrat",1762125,PHD,None,2014,"AyÃ³n-Beato, Eloy",1017802,Arkansas State U.
2,"Mendez Zavaleta, Julio Alberto",1380842,PHD,2012,2016,"AyÃ³n-Beato, Eloy",1017802,"Chile Austral U., Valdivia"
3,"Higuita Borja, Daniel Fernando",1318752,PHD,2013,2018,"AyÃ³n-Beato, Eloy",1017802,"Chile Austral U., Valdivia"
4,"Garcia-Salcedo, Ricardo",1056392,PHD,1998,2003,"Breton, Nora",1015335,"CINVESTAV, IPN"
...,...,...,...,...,...,...,...,...
93,"Martinez-Castro, Jesus",1065485,PHD,None,None,Unkown,None,"CIC, IPN"
94,"Amador Ceron, Eduardo Xavier",1069816,PHD,None,None,Unkown,None,"CINVESTAV, IPN"
95,"Amador Ceron, Eduardo Xavier",1069816,UNDERGRADUATE,None,None,Unkown,None,"CINVESTAV, IPN"
96,"Padilla Albores, Luis Enrique",1774079,PHD,2014,2020,"Vazquez, JosÃ© Alberto",1061596,"Mexico U., ICN"
97,"Villasenor Cendejas, Luis Manuel",1021497,PHD,1981,1988,"Zepeda, Arnulfo",1013360,"IFM-UMSNH, Michoacan"

In [ ]:
cv_df[cv_df['advisor_name'].str.contains('Roig')]

,student_name,profile_id,degree,start,end,advisor_name,advisor_id,position
66,"Miranda HernÃ¡ndez, JesÃºs Alejandro",1827003,PHD,2018,2022,"Roig Garces, Pablo",1049577,"CINVESTAV, IPN"

In [ ]:
cv_df.to_csv('data/cinvestav.csv',index=False)

In [ ]:
cv_df[cv_df['advisor_name'].str.contains('Zepeda')]

,student_name,profile_id,degree,start,end,advisor_name,advisor_id,position
97,"Villasenor Cendejas, Luis Manuel",1021497,PHD,1981,1988,"Zepeda, Arnulfo",1013360,"IFM-UMSNH, Michoacan"

## Get all the institutions from INSPIREHEP

In [34]:
# united states, england, germany, france, italy, china, spain, japan, korea
# Missing: Caltech; Princeton U.; Valencia U., IFIC; Oxford U.; Cambridge U., DAMTP; Aachen, Tech. Hochsch.; Humboldt U., Berlin; DESY; CERN; Fermilab; SLAC; Heidelberg U.
# Munich, Max Planck Inst.; Hamburg U.; Mainz U., Inst. Phys.; Frankfurt U.; Munich, Tech. U.; Imperial Coll., London; INFN, Turin; INFN, Rome; SISSA, Trieste; Rome U.; 
# Frascati; ICTP, Trieste; Turin U.
def get_institutions(q):
    page=1
    if q:
        url=f'https://inspirehep.net/api/institutions?q={q}&size=250&page={page}'
    else:
        url=f'https://inspirehep.net/api/institutions?size=250&page={page}' 
    r=requests.get(url)
    time.sleep(sleep)
    i=r.json()['hits']['hits']
    total=r.json().get('hits').get('total')
    if not page or page==1:
        ins=[d.get('metadata') for d in i]
    j=page
    next=r.json().get('links').get('next')
    while next:
        print(j)
        r=requests.get(next)
        time.sleep(sleep)
        try:
            i=r.json()['hits']['hits']
        except:
            i=[]
        ins.extend([d.get('metadata') for d in i])
        try:
            next=r.json().get('links').get('next')
        except:
            next=None
        j+=1
        if j > total//250:
            break
    return ins

In [35]:
kk=[]
for q in ['','u','england','germany','france','italy','spain','korea','china','japan','united states',
    'russia','brazil']:
    print(q)
    ins=get_institutions(q)
    for d in ins:
        if d not in kk:
            kk.append(d)
    print(len(kk))
    if len(kk)>11835:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
9500
u
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
10701
england
10722
germany
1
2
10778
france
1
2
10886
italy
1
10987
spain
11019
korea
11034
china
1
2
3
11108
japan
1
2
3
4
11193
united states
1
2
3
4
5
6
7
8
9
10
11
11442
russia
1
11499
brazil
11509

In [40]:
ins=kk.copy()

In [37]:
f=open('data/inspire_institutions.json','r')
old=json.load(f)
f.close()

In [41]:
for d in old:
    if d not in kk:
        kk.append(d)

In [50]:
cn=[d.get('control_number') for d in kk]

In [51]:
duplicates=list(set([x for x in cn if cn.count(x)>1]))
len(duplicates)

430

In [46]:
len(set([d.get('control_number') for d in kk]))

11621

In [58]:
ins=[]
for d in kk:
    if d.get('control_number') not in duplicates:
        ins.append(d)

In [59]:
for cn in duplicates:
    ins.append( [d for d in  kk if d.get('control_number')==cn][-1] )

In [60]:
len(ins)

11621

In [68]:
kk=ins.copy()

In [69]:
f=open('data/inspire_institutions.json','w')
json.dump(kk,f)
f.close()

In [70]:
dfi=pd.DataFrame(kk)
dfi=dfi.sort_values('number_of_papers', ascending=False).reset_index(drop=True)

In [71]:
def not_cn(name,sleep=0.4):
    url=f'https://inspirehep.net/api/literature?q=aff+{name}+and+ac+1->10&size=1'
    r=requests.get(url)
    time.sleep(sleep)
    try:
        total=r.json().get('hits').get('total')
    except:
        total=None
    return total

In [72]:
dfi['number_of_not_cn_papers']=dfi.legacy_ICN.apply(not_cn)

In [73]:
dfi['number_of_not_cn_papers']=dfi.number_of_not_cn_papers.fillna(-1).astype(int)

In [74]:
dfi.sort_values(['number_of_not_cn_papers','number_of_papers'], ascending=False)[['legacy_ICN','number_of_not_cn_papers','number_of_papers']][0:50].reset_index(drop=True)#.to_csv('kk.csv',index=False)

,legacy_ICN,number_of_not_cn_papers,number_of_papers
0,CERN,51762,70745
1,Fermilab,22039,35249
2,SLAC,18386,25303
3,Brookhaven,15711,22932
4,"LBL, Berkeley",15152,24309
5,DESY,12933,19280
6,"KEK, Tsukuba",12494,20330
7,Los Alamos,10149,13939
8,Caltech,8744,15051
9,"Munich, Max Planck Inst.",8013,12765
10,Maryland U.,7936,13782
11,"Beijing, Inst. High Energy Phys.",7721,14766
12,"UC, Berkeley",7662,11991
13,Argonne,7495,13146
14,"ICTP, Trieste",7397,8674
15,Oxford U.,7273,13469
16,"SUNY, Stony Brook",7263,11322
17,Rome U.,7142,15282
18,Tokyo U.,7048,11818
19,Princeton U.,6955,11641
20,Moscow State U.,6685,11040
21,"Imperial Coll., London",6476,12041
22,"Princeton, Inst. Advanced Study",6348,6668
23,Harvard U.,6222,9517
24,"MIT, LNS",6171,8576
25,UCLA,6076,11961
26,Saclay,6058,8694
27,"SISSA, Trieste",5987,6825
28,"Wisconsin U., Madison",5963,13260
29,"Washington U., Seattle",5647,9523
30,"INFN, Rome",5623,15373
31,Frascati,5590,15628
32,Heidelberg U.,5569,11155
33,Jefferson Lab,5402,7095
34,Kyoto U.,5384,8819
35,"INFN, Turin",5311,12249
36,"Beijing, Inst. Theor. Phys.",5257,5432
37,Cambridge U.,5240,8518
38,Bonn U.,5163,8861
39,Turin U.,5155,11842
40,Hamburg U.,5098,10043
41,"Darmstadt, GSI",5095,8622
42,"Valencia U., IFIC",5068,8712
43,"INFN, Pisa",4795,12159
44,"Cambridge U., DAMTP",4767,5075
45,"Munich, Tech. U.",4763,7107
46,"INFN, Trieste",4725,10739
47,Sao Paulo U.,4690,7481
48,Frankfurt U.,4646,6012
49,"Kyoto U., Yukawa Inst., Kyoto",4615,4853

In [77]:
control_number=917747
dfi[dfi['control_number']==control_number].iloc[0].number_of_not_cn_papers

101

In [94]:
for d in ins:
    d['number_of_not_cn_papers']=int(dfi[dfi['control_number']==d.get('control_number')].iloc[0].number_of_not_cn_papers)

In [98]:
f=open('data/inspire_institutions.json','w')
json.dump(ins,f)
f.close()

In [125]:
kkk=pd.DataFrame(kk)
kkk[kkk.legacy_ICN.str.lower().str.contains('valencia')]

,number_of_papers,addresses,ICN,core,self,urls,$schema,legacy_ICN,control_number,legacy_version,...,external_system_identifiers,extra_words,related_records,public_notes,name_variants,deleted_records,inspire_categories,historical_data,inactive,new_record
21,142,"[{'cities': ['Valencia'], 'latitude': 39.47811...",[U. Valencia],NaN,{'$ref': 'https://inspirehep.net/api/instituti...,[{'value': 'http://www.uv.es/'}],https://inspirehep.net/schemas/records/institu...,U. Valencia (main),917747,20161021230226.0,...,NaN,[Univ.],NaN,NaN,[{'value': 'University of Valencia'}],NaN,NaN,NaN,NaN,NaN
3536,2,"[{'state': 'CA', 'cities': ['Valencia'], 'lati...",NaN,NaN,{'$ref': 'https://inspirehep.net/api/instituti...,NaN,https://inspirehep.net/schemas/records/institu...,"Kelly Johnson, Valencia",906045,20161012160154.0,...,"[{'value': 'INST-42552', 'schema': 'SPIRES'}]","[California, research center]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5170,62,"[{'cities': ['Burjassot'], 'country_code': 'ES...",NaN,NaN,{'$ref': 'https://inspirehep.net/api/instituti...,[{'value': 'http://www.uv.es/~webuv/ingles/ind...,https://inspirehep.net/schemas/records/institu...,"Valencia U., Observ.",908764,20130819034633.0,...,"[{'value': 'INST-74314', 'schema': 'SPIRES'}]","[Univ., University, Observatory]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7401,33,"[{'cities': ['Valencia'], 'country_code': 'ES'...",NaN,NaN,{'$ref': 'https://inspirehep.net/api/instituti...,[{'value': 'http://centros.uv.es/web/departame...,https://inspirehep.net/schemas/records/institu...,"Valencia U., Math. Dept.",909221,20130819034656.0,...,"[{'value': 'INST-79278', 'schema': 'SPIRES'}]","[Univ., University, Mathematics, department, M...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8395,4,"[{'cities': ['Valencia'], 'latitude': 39.47678...",NaN,False,{'$ref': 'https://inspirehep.net/api/instituti...,[{'value': 'https://www.ucv.es/'}],https://inspirehep.net/schemas/records/institu...,Catholic U. Valencia,943244,20161023033453.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8594,36,"[{'cities': ['Valencia'], 'country_code': 'ES'...",NaN,NaN,{'$ref': 'https://inspirehep.net/api/instituti...,[{'value': 'http://www.uv.es/die'}],https://inspirehep.net/schemas/records/institu...,"Valencia U., Dept. Ing. Electronica",911986,20130819034827.0,...,"[{'value': 'INST-109398', 'schema': 'SPIRES'}]","[Universitat Univ., University, Electronic Eng...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Extended papers data structure including `rank` and related information

In [3]:
DF=pd.DataFrame(df)

In [4]:
DF[DF['institution_id']=='910767']#['country'].iloc[0]

,author_id,country,email_addresses,full_name,ids,institution,institution_id,name,papers,positions,profile_id,advisors
41,L.E.Ibanez.1,Spain,"[{'value': 'luis.ibannez@uam.es', 'current': T...","Ibanez, Luis E.","[{'value': 'L.E.Ibanez.1', 'schema': 'INSPIRE ...","Madrid, IFT",910767,"{'value': 'Ibanez, Luis E.', 'preferred_name':...","[{'recid': 1204607, 'year': '2013', 'citation_...","[{'rank': 'STAFF', 'record': {'$ref': 'https:/...",1005162,[]
43,F.Marchesano.1,Spain,"[{'value': 'fernando.marchesano@csic.es', 'cur...","Marchesano, Fernando","[{'value': '0000-0002-3660-4602', 'schema': 'O...","Madrid, IFT",910767,"{'value': 'Marchesano Buznego, Fernando G.', '...","[{'recid': 1204607, 'year': '2013', 'citation_...","[{'rank': 'SENIOR', 'current': True, 'start_da...",1020605,"[{'name': 'Santiago, D.Luis E. Ibanez', 'degre..."
44,D.Regalado.1,Spain,"[{'value': 'diego.regalado@cern.ch', 'current'...","Regalado, Diego","[{'value': '0000-0001-9369-2517', 'schema': 'O...","Madrid, IFT",910767,"{'value': 'Regalado, Diego', 'preferred_name':...","[{'recid': 1204607, 'year': '2013', 'citation_...","[{'rank': 'POSTDOC', 'record': {'$ref': 'https...",1273972,[]
154,G.Zoccarato.1,Spain,[{'value': 'gianluca.zoccarato@kuleuven.be'}],"Zoccarato, Gianluca","[{'value': '0000-0002-4673-0098', 'schema': 'O...","Madrid, IFT",910767,"{'value': 'Zoccarato, Gianluca', 'preferred_na...","[{'recid': 1245278, 'year': '2013', 'citation_...","[{'rank': 'POSTDOC', 'hidden': False, 'record'...",1631464,[]
173,A.Herraez.1,Spain,"[{'value': 'alvaro.herraezescudero@ipht.fr', '...","HerrÃ¡ez, Alvaro","[{'value': 'A.Herraez.1', 'schema': 'INSPIRE B...","Madrid, IFT",910767,"{'value': 'HerrÃ¡ez Escudero, Alvaro', 'name_va...","[{'recid': 1769233, 'year': '2020', 'citation_...","[{'rank': 'POSTDOC', 'record': {'$ref': 'https...",1655126,"[{'name': 'Ibanez, Luis E.', 'hidden': False, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
50166,D.Alonso.1,Spain,"[{'value': 'david.alonso@astro.ox.ac.uk', 'cur...","Alonso, D.","[{'value': 'D.Alonso.1', 'schema': 'INSPIRE BA...","Madrid, IFT",910767,"{'value': 'Alonso, David', 'preferred_name': '...","[{'recid': 885296, 'year': '2011', 'citation_c...",[{'record': {'$ref': 'https://inspirehep.net/a...,1191532,[]
50698,V.Mateu.1,Spain,"[{'value': 'vmateu@usal.es', 'current': True},...","Mateu, Vicent","[{'value': '0000-0003-0902-5012', 'schema': 'O...","Madrid, IFT",910767,"{'value': 'Mateu Barreda, Vicent', 'preferred_...","[{'recid': 1770739, 'year': '2020', 'citation_...","[{'rank': 'SENIOR', 'record': {'$ref': 'https:...",1044714,[]
50801,N.Garron.1,Spain,"[{'value': 'nicolas.garron@liverpool.ac.uk', '...","Garron, Nicolas","[{'value': '0000-0002-4428-3984', 'schema': 'O...","Madrid, IFT",910767,"{'value': 'Garron, Nicolas', 'preferred_name':...","[{'recid': 874216, 'year': '2010', 'citation_c...",[{'record': {'$ref': 'https://inspirehep.net/a...,1034257,[]
52762,M.I.Berganza.1,Spain,None,"Berganza, Miguel Ibanez",None,"Madrid, IFT",910767,None,"[{'recid': 929518, 'year': '2012', 'citation_c...",None,None,[]
55476,M.Pieroni.1,Spain,"[{'value': 'm.pieroni@imperial.ac.uk', 'curren...","Pieroni, Mauro","[{'value': '0000-0003-0665-266X', 'schema': 'O...","Madrid, IFT",910767,"{'value': 'Pieroni, Mauro', 'preferred_name': ...","[{'recid': 1662495, 'year': '2018', 'citation_...","[{'rank': 'POSTDOC', 'record': {'$ref': 'https...",1408985,[]

In [5]:
DF[DF['full_name']=='Restrepo, Diego']

,author_id,country,email_addresses,full_name,ids,institution,institution_id,name,papers,positions,profile_id,advisors
4722,D.Restrepo.1,Colombia,"[{'value': 'restrepo@udea.edu.co', 'current': ...","Restrepo, Diego","[{'value': 'D.Restrepo.1', 'schema': 'INSPIRE ...",Antioquia U.,903906,"{'value': 'Restrepo Quintero, Diego Alejandro'...","[{'recid': 926166, 'year': '2012', 'citation_c...","[{'rank': 'SENIOR', 'hidden': False, 'record':...",991924,"[{'ids': [{'value': 'INSPIRE-00133260', 'schem..."
4762,D.Restrepo.1,Italy,"[{'value': 'restrepo@udea.edu.co', 'current': ...","Restrepo, Diego","[{'value': 'D.Restrepo.1', 'schema': 'INSPIRE ...","ICTP, Trieste",902861,"{'value': 'Restrepo Quintero, Diego Alejandro'...","[{'recid': 926166, 'year': '2012', 'citation_c...","[{'rank': 'SENIOR', 'hidden': False, 'record':...",991924,"[{'ids': [{'value': 'INSPIRE-00133260', 'schem..."
6064,D.Restrepo.1,Brazil,"[{'value': 'restrepo@udea.edu.co', 'current': ...","Restrepo, Diego","[{'value': 'D.Restrepo.1', 'schema': 'INSPIRE ...","IIP, Brazil",912344,"{'value': 'Restrepo Quintero, Diego Alejandro'...","[{'recid': 926166, 'year': '2012', 'citation_c...","[{'rank': 'SENIOR', 'hidden': False, 'record':...",991924,"[{'ids': [{'value': 'INSPIRE-00133260', 'schem..."
6066,D.Restrepo.1,Brazil,"[{'value': 'restrepo@udea.edu.co', 'current': ...","Restrepo, Diego","[{'value': 'D.Restrepo.1', 'schema': 'INSPIRE ...",Campinas State U.,902714,"{'value': 'Restrepo Quintero, Diego Alejandro'...","[{'recid': 926166, 'year': '2012', 'citation_c...","[{'rank': 'SENIOR', 'hidden': False, 'record':...",991924,"[{'ids': [{'value': 'INSPIRE-00133260', 'schem..."

```
recid â†’  [{'profile_id':str,'rank':str,'country':'str','sex':'str',
           'other_positions' â†’ [{'rank':str,'country':'str'}]
          }]
```

In [6]:
d=df[4722]

In [7]:
pd.DataFrame(d.get('positions'))

,rank,hidden,record,current,start_date,institution,curated_relation,end_date
0,SENIOR,False,{'$ref': 'https://inspirehep.net/api/instituti...,True,2004,Antioquia U.,True,NaN
1,VISITOR,False,{'$ref': 'https://inspirehep.net/api/instituti...,False,2022,Campinas State U.,False,2022
2,VISITOR,False,{'$ref': 'https://inspirehep.net/api/instituti...,False,2019,"IIP, Brazil",True,2019
3,VISITOR,False,{'$ref': 'https://inspirehep.net/api/instituti...,False,2014,"ICTP, Trieste",True,2019
4,POSTDOC,False,{'$ref': 'https://inspirehep.net/api/instituti...,False,2003,"Valencia U., IFIC",True,2004
5,JUNIOR,False,{'$ref': 'https://inspirehep.net/api/instituti...,False,2002,Antioquia U.,True,2003
6,PHD,False,{'$ref': 'https://inspirehep.net/api/instituti...,False,1997,"Valencia U., IFIC",True,2001
7,MASTER,False,{'$ref': 'https://inspirehep.net/api/instituti...,False,1995,Antioquia U.,True,1997
8,UNDERGRADUATE,False,{'$ref': 'https://inspirehep.net/api/instituti...,False,1989,Antioquia U.,True,1994

In [8]:
from datetime import datetime
import copy
def get_country(institution_id,df):
    institution_id = str(institution_id)
    for d in df:
        country = None
        if d.get('institution_id') == institution_id:
            country = d.get('country')
            break
    return country

if d.get('positions'):
    dp=copy.deepcopy(d.get('positions'))
    for p in dp:
        try:
            p['institution_id'] = p.get('record').get('$ref').split('/')[-1]
        except:
            p['institution_id'] = None

In [9]:
il = [p.get('institution_id') for p in dp]
papers = copy.deepcopy(d.get('papers'))
i=0
for pr in papers:
    # Fix institution
    pr['institution_id'] = pr.pop('instituion_id')
    if pr.get('institution_id') in il:
        end_date=None
        ps=[p for p in dp if p.get('institution_id') == pr.get('institution_id')]
        for p in ps:
            if p.get('end_date'):
                end_date=int(p.get('end_date'))
            else:
                if p.get('current'):
                    end_date=datetime.now().year+1
            start_date=p.get('start_date')
            if start_date:
                start_date=int(start_date)
            try:
                year=eval(pr.get('year'))
            except:
                year=pr.get('year')
            if year:
                year=int(year)
            if year in range(start_date,end_date+2): #+1 of tolerance
                pr['rank'] = p.get('rank')
                pr['start_date'] = p.get('start_date')
                pr['end_date'] = p.get('end_date')
                if p.get('current'):
                    pr['current'] = p.get('current')
                pr['institution'] =p.get('institution')
                pr['country'] = get_country(p.get('institution_id'),df)
    #if i==3:
    #    raise Exception(f'break -> {i}')
    i += 1

In [10]:
pd.DataFrame(papers)[50:]

,recid,year,citation_count,primary_arxiv_category,journal_id,author_id,institution_id,rank,start_date,end_date,current,institution,country
50,1679809,2019,21,[hep-ph],None,D.Restrepo.1,903906,SENIOR,2004,None,True,Antioquia U.,Colombia
51,1679809,2019,21,[hep-ph],None,D.Restrepo.1,902861,VISITOR,2014,2019,NaN,"ICTP, Trieste",Italy
52,599285,2003,40,[hep-ph],None,D.Restrepo.1,903906,JUNIOR,2002,2003,NaN,Antioquia U.,Colombia
53,2080612,2022,0,[hep-ph],None,D.Restrepo.1,903906,SENIOR,2004,None,True,Antioquia U.,Colombia
54,2080612,2022,0,[hep-ph],None,D.Restrepo.1,902714,VISITOR,2022,2022,NaN,Campinas State U.,Brazil
55,796080,2009,10,[hep-ph],None,D.Restrepo.1,907907,NaN,NaN,NaN,NaN,NaN,NaN
56,796080,2009,10,[hep-ph],None,D.Restrepo.1,903906,SENIOR,2004,None,True,Antioquia U.,Colombia
57,675031,2005,39,[hep-ph],None,D.Restrepo.1,907907,POSTDOC,2003,2004,NaN,"Valencia U., IFIC",Spain
58,675031,2005,39,[hep-ph],None,D.Restrepo.1,903906,SENIOR,2004,None,True,Antioquia U.,Colombia
59,677884,2005,54,[hep-ph],1213103,D.Restrepo.1,907907,POSTDOC,2003,2004,NaN,"Valencia U., IFIC",Spain
60,677884,2005,54,[hep-ph],1213103,D.Restrepo.1,903906,SENIOR,2004,None,True,Antioquia U.,Colombia
61,483425,None,30,[hep-ph],None,D.Restrepo.1,903319,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pd.DataFrame(papers).drop_