## Minimal notebook

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import time
import requests

import seaborn as sns

from collections import Counter
import itertools

from matplotlib.colors import LogNorm, SymLogNorm, Normalize
from matplotlib.ticker import MaxNLocator, FormatStrFormatter

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

# Import database

In [2]:
# always use False
LOCAL = False

if LOCAL:
    f = open('data/inspire_LA.json','r')
    df = json.load(f)
    f.close()
else:
    r = requests.get('https://github.com/restrepo/inspireauth/raw/main/data/inspire_LA.json')
    df = r.json()

db_master = pd.DataFrame(df)
db_master.head()

,author_id,country,email_addresses,full_name,ids,institution,institution_id,name,papers,positions,profile_id,advisors
0,H.Albrecht.1,Venezuela,"[{'value': 'hartwig.albrecht@desy.de', 'curren...","Albrecht, Hermann","[{'value': 'H.Albrecht.1', 'schema': 'INSPIRE ...","Unlisted, VE",912061,"{'value': 'Albrecht, Hartwig', 'preferred_name...","[{'recid': 2023395, 'year': '2021', 'citation_...",[{'record': {'$ref': 'https://inspirehep.net/a...,1018731,[]
1,D.M.B.R.1,Venezuela,None,"Bellorin, David","[{'value': 'D.M.B.R.1', 'schema': 'INSPIRE BAI'}]","Unlisted, VE",912061,"{'value': 'R., David M. Bellorin'}","[{'recid': 2023395, 'year': '2021', 'citation_...",None,2023397,[]
2,D.F.Mundarain.1,Chile,None,"Mundarain, Douglas F.","[{'value': 'D.F.Mundarain.1', 'schema': 'INSPI...",Catolica del Norte U.,908143,"{'value': 'Mundarain, Douglas F.'}","[{'recid': 2023395, 'year': '2021', 'citation_...",None,2023398,[]
3,R.Gaitan.2,Venezuela,"[{'value': 'rgaitan@uc.edu.ve', 'current': Fal...","Dominguez, Yessica","[{'value': 'R.Gaitan.2', 'schema': 'INSPIRE BA...","Unlisted, VE",912061,"{'value': 'Gaitan, Rolando', 'preferred_name':...","[{'recid': 1863076, 'year': '2021', 'citation_...","[{'rank': 'PHD', 'record': {'$ref': 'https://i...",1864347,[]
4,J.Ntahompagaze.1,Rwanda,None,"Ntahompagaze, Joseph","[{'value': 'J.Ntahompagaze.1', 'schema': 'INSP...","EAIFR, Kigali",1636656,"{'value': 'Ntahompagaze, Joseph'}","[{'recid': 2087212, 'year': '2022', 'citation_...",None,2087213,[]

# All countries in the database

In [3]:
# find all countries in json
all_countries = db_master['country'].unique()
# get rid of Nonetypes in the database
all_countries = [country for country in all_countries if country is not None]
# sort countries 
all_countries.sort()

print(len(all_countries))

for country in all_countries:
    print(country)
    
# format country 
def format_country(country):
    country = country.lower()
    ans = country.replace(" ", "_")
    return ans

115
Algeria
Argentina
Armenia
Australia
Austria
Azerbaijan
Bahamas
Bangladesh
Belarus
Belgium
Benin
Bhutan
Bolivia
Bosnia and Herzegovina
Brazil
Brunei Darussalam
Bulgaria
Canada
Chile
China
Colombia
Congo
Costa Rica
Croatia
Cuba
Cyprus
Czechia
Denmark
Dominican Republic
Ecuador
Egypt
El Salvador
Estonia
Ethiopia
Finland
France
Georgia
Germany
Ghana
Greece
Guatemala
Holy See (Vatican City State)
Honduras
Hungary
Iceland
India
Indonesia
Iran, Islamic Republic of
Iraq
Ireland
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Korea, Republic of
Kuwait
Kyrgyzstan
Latvia
Lebanon
Lithuania
Luxembourg
Madagascar
Malaysia
Malta
Mexico
Moldova
Mongolia
Montenegro
Morocco
Netherlands
New Zealand
Niger
Nigeria
North Macedonia
Norway
Oman
Pakistan
Palestine, State of
Panama
Paraguay
Peru
Philippines
Poland
Portugal
Puerto Rico
Qatar
Romania
Russian Federation
Rwanda
Saudi Arabia
Serbia and Montenegro
Singapore
Slovakia
Slovenia
South Africa
Spain
Sri Lanka
Sweden
Switzerland
Syrian Arab Republic
Taiwan
Thailand
Tunisia
Turkey
Uganda
Ukraine
United Arab Emirates
United Kingdom
United States
Uruguay
Uzbekistan
Venezuela
Vietnam

# Latin American countries

In [5]:
# 19 Latin American countries indexed in the database
LA_countries = [
    'Argentina',
    'Bolivia',
    'Brazil',
    'Chile',
    'Colombia',
    'Costa Rica',
    'Cuba',
    'Dominican Republic', # new
    'Ecuador',
    'El Salvador', # new
    'Guatemala',
    'Honduras',
    'Mexico',
    'Panama', # new
    'Paraguay',
    'Peru',
    'Puerto Rico', # new
    'Uruguay',
    'Venezuela'
]

# Jamaica, Bahamas not included. 

LA_countries_format = [format_country(country) for country in LA_countries]
print(LA_countries_format)

['argentina', 'bolivia', 'brazil', 'chile', 'colombia', 'costa_rica', 'cuba', 'dominican_republic', 'ecuador', 'el_salvador', 'guatemala', 'honduras', 'mexico', 'panama', 'paraguay', 'peru', 'puerto_rico', 'uruguay', 'venezuela']

In [24]:
db_master.head()
db = db_master
db=db[db['country']=='Chile'].reset_index(drop=True)
db.head(20)

,author_id,country,email_addresses,full_name,ids,institution,institution_id,name,papers,positions,profile_id,advisors
0,D.F.Mundarain.1,Chile,None,"Mundarain, Douglas F.","[{'value': 'D.F.Mundarain.1', 'schema': 'INSPI...",Catolica del Norte U.,908143,"{'value': 'Mundarain, Douglas F.'}","[{'recid': 2023395, 'year': '2021', 'citation_...",None,2023398,[]
1,M.P.Garcia.del.Moral.1,Chile,"[{'value': 'maria.garciadelmoral@uantof.cl', '...","Garcia del Moral, Maria Pilar","[{'value': '0000-0002-3329-2391', 'schema': 'O...",Antofagasta U.,907784,"{'value': 'Garcia del Moral Zabala, Maria del ...","[{'recid': 781916, 'year': '2008', 'citation_c...","[{'rank': 'SENIOR', 'record': {'$ref': 'https:...",1019914,"[{'ids': [{'value': 'INSPIRE-00666347', 'schem..."
2,A.Restuccia.1,Chile,"[{'value': 'arestu@usb.ve', 'current': True}]","Restuccia, Alvaro","[{'value': 'A.Restuccia.1', 'schema': 'INSPIRE...",Antofagasta U.,907784,"{'value': 'Restuccia, Alvaro', 'preferred_name...","[{'recid': 781916, 'year': '2008', 'citation_c...",[{'record': {'$ref': 'https://inspirehep.net/a...,991923,"[{'ids': [{'value': 'INSPIRE-00130868', 'schem..."
3,C.Las.Heras.1,Chile,None,"Las Heras, C.","[{'value': 'C.Las.Heras.1', 'schema': 'INSPIRE...",Antofagasta U.,907784,"{'value': 'las Heras Gouverneur, Camilo', 'nam...","[{'recid': 1602193, 'year': '2018', 'citation_...","[{'rank': 'PHD', 'hidden': False, 'record': {'...",1834568,"[{'ids': [{'value': 'INSPIRE-00056546', 'schem..."
4,P.D.Alvarez.1,Chile,"[{'value': 'pd.alvarez.n@gmail.com', 'current'...","Alvarez, Pedro D.","[{'value': '0000-0001-8757-1700', 'schema': 'O...",Antofagasta U.,907784,"{'value': 'Alvarez, Pedro Diego', 'preferred_n...","[{'recid': 1859189, 'year': '2022', 'citation_...","[{'rank': 'POSTDOC', 'record': {'$ref': 'https...",1051781,"[{'ids': [{'value': 'INSPIRE-00328995', 'schem..."
5,J.H.Pena.1,Chile,None,"Peña, Joselen M.","[{'value': 'J.H.Pena.1', 'schema': 'INSPIRE BA...",Antofagasta U.,907784,"{'value': 'Pena, J.M.', 'preferred_name': 'J.M...","[{'recid': 781916, 'year': '2008', 'citation_c...",[{'record': {'$ref': 'https://inspirehep.net/a...,1052800,[]
6,R.R.Prado.1,Chile,"[{'value': 'raul.prado@desy.de', 'current': Tr...","Prado, Reginaldo","[{'value': '0000-0001-9152-2995', 'schema': 'O...",Antofagasta U.,907784,"{'value': 'Prado, Raul Ribeiro', 'name_variant...","[{'recid': 1859189, 'year': '2022', 'citation_...","[{'rank': 'POSTDOC', 'record': {'$ref': 'https...",1300753,"[{'ids': [{'value': 'INSPIRE-00150500', 'schem..."
7,A.Rincon.1,Chile,"[{'value': 'arrincon@uc.cl'}, {'value': 'angel...","Rincón, Angel","[{'value': '0000-0001-8069-9162', 'schema': 'O...","Valparaiso U., Catolica",904828,"{'value': 'Rincón, Ángel', 'name_variants': ['...","[{'recid': 1797461, 'year': '2020', 'citation_...","[{'rank': 'POSTDOC', 'hidden': False, 'record'...",1605701,"[{'ids': [{'value': 'INSPIRE-00520624', 'schem..."
8,F.Tello.Ortiz.1,Chile,None,"Tello-Ortiz, Francisco",None,Antofagasta U.,907784,None,"[{'recid': 1797461, 'year': '2020', 'citation_...",None,None,[]
9,P.Leon.1,Chile,"[{'value': 'pablo.leon@ua.cl', 'current': False}]","Leon, P.","[{'value': 'P.Leon.1', 'schema': 'INSPIRE BAI'...",Antofagasta U.,907784,"{'value': 'León, Pablo Enmanuel', 'preferred_n...","[{'recid': 1705685, 'year': '2019', 'citation_...","[{'rank': 'PHD', 'record': {'$ref': 'https://i...",1834561,[]
10,M.A.Garcia.Nustes.1,Chile,None,"García-Ñustes, Mónica A.",None,"Valparaiso U., Catolica",904828,None,"[{'recid': 1630936, 'year': '2018', 'citation_...",None,None,[]
11,J.F.Marin.2,Chile,None,"Marín, Juan F.","[{'value': '0000-0003-3756-5016', 'schema': 'O...","Valparaiso U., Catolica",904828,"{'value': 'Marín, Juan F.', 'preferred_name': ...","[{'recid': 1630936, 'year': '2018', 'citation_...",[{'record': {'$ref': 'https://inspirehep.net/a...,1844376,[]
12,S.Duffau.1,Chile,None,"Duffau, Sonia",None,"Chile U., Beauchef",909612,None,"[{'recid': 695685, 'year': '2006', 'citation_c...",None,2229470,[]
13,G.Carraro.1,Chile,None,"Carraro, Giovanni",None,"Chile U., Beauchef",909612,None,"[{'recid': 695685, 'year': '2006', 'citation_c...",None,None,[]
14,R.A.Mendez.1,Chile,None,"Mendez, Rene A.",None,"Chile U., Beauchef",909612,None,"[{'recid': 695685, 'year': '2006', 'citation_c...",None,None,[]
15,S.Hoyer.1,Chile,"[{'value': 'shoyer@berkeley.edu', 'current': T...","Hoyer, S.","[{'value': 'S.Hoyer.1', 'schema': 'INSPIRE BAI...","Chile U., Catolica",904336,"{'value': 'Hoyer, Stephan', 'preferred_name': ...","[{'recid': 647400, 'year': '2004', 'citation_c...","[{'rank': 'PHD', 'record': {'$ref': 'https://i...",1051889,"[{'name': 'Whaley, Birgitta', 'degree_type': '..."
16,M.J.Stock.1,Chile,None,"Stock, M.J.",None,Los Andes U.,908733,None,"[{'recid': 597861, 'year': '2002', 'citation_c...",None,2416081,[]
17,M.MunozEcheverria.1,Chile,None,"Muñoz, M.","[{'value': 'M.MunozEcheverria.1', 'schema': 'I...",Concepcion U.,904435,"{'value': 'Muñoz-Echeverría, Miren'}","[{'recid': 2047459, 'year': '2022', 'citation_...",None,1959135,[]
18,S.Niklitschek.1,Chile,None,"Niklitschek, S.","[{'value': 'S.Niklitschek.1', 'schema': 'INSPI...",Concepcion U.,904435,"{'value': 'Niklitschek, S.'}","[{'recid': 2047459, 'year': '2022', 'citation_...",None,2047461,[]
19,A.Delgado.6,Chile,None,"Delgado, A.","[{'value': 'A.Delgado.6', 'schema': 'INSPIRE B...",Tarapaca U.,907534,"{'value': 'Delgado, A.'}","[{'recid': 2047459, 'year': '2022', 'citation_...",None,2047463,[]

In [20]:
db.shape

(2907, 12)

In [32]:
db = db.drop_duplicates(subset=['author_id'])
db.shape

(2043, 12)

In [42]:
duplicated_indices = db[db['author_id'].duplicated()].index
# select the first two rows that contain a duplicated entry
result = db.loc[duplicated_indices[:2]]
print(result)

Empty DataFrame
Columns: [author_id, country, email_addresses, full_name, ids, institution, institution_id, name, papers, positions, profile_id, advisors]
Index: []

In [40]:
import pandas as pd

# create a sample dataframe
data = {'column': ['a', 'b', 'c', 'b', 'd', 'e', 'f', 'e']}
df = pd.DataFrame(data)

# get the indices of the duplicated entries in the 'column' column
duplicated_indices = df[df['column'].duplicated()].index

# select the first two rows that contain a duplicated entry
result = df.loc[duplicated_indices[:2]]

In [41]:
result

  column
3      b
7      e

# Total and active authors per year

In [ ]:
# Get number of authors 

def get_number_authors(country):
    # select country
    db=db_master[db_master['country']==country].reset_index(drop=True)
    # remove duplicate authors according to `author_id`
    db = db.drop_duplicates(subset=['author_id'])
    number_of_authors = len(db.index)
    print(f"{country}: {number_of_authors} authors.")
    
for country in LA_countries:
    get_number_authors(country)